-require 'roo'

-if !params[:monitoring_objectivity_ates_import].nil?
  -file=params[:monitoring_objectivity_ates_import]['file']

-if !file.nil?
  %h2
    = "Импорт ссылок из Excel-файла :: "
    = file.original_filename

  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -@m = MonitoringObjectivityAte.new
  -@m.status_id = 0
  -@m.user_id = current_user.id
  -if !Mouo.where(:code => xlsx.sheet(0).row(4)[1]).nil?
    -if !Mouo.where(:code => xlsx.sheet(0).row(4)[1]).first.nil?
      -@m.mouo_id = Mouo.where(:code => xlsx.sheet(0).row(4)[1]).first.id
  -if current_user.mouo_role? and !current_user.admin?
    -@m.mouo_id = Mouo.find(current_user.ou_id)

  -if xlsx.sheets.count == 1 and !@m.mouo_id.nil?
    -if xlsx.sheet(0).last_row > 1
      - if xlsx.sheet(0).row(1)[0] == 'Мониторинг региональных показателей системы объективности процедур оценки качества образования и олимпиад школьников'
        %p Все правила для файла проверены. Начинается импорт.
        -i = 0
        -while i < 17
          - i = i + 1
          -if xlsx.sheet(0).row(8)[0]== '1. ' + t("monitoring_objectivity_ates.title01")
            -@m.send("url" + ("00"+i.to_s)[-2..-1] + "=", xlsx.sheet(0).row(9+(i-1)*4)[1])
          -else
            %p = "Не найден пункт #{i}"
        -if @m.save
          -i = 0
          -while i<11
            -i = i + 1
            %p
              ="Ссылка №#{i}: "
              =@m.read_attribute("url" + ("00#{i}")[-2..-1])
        -else
          %p Ошибки формата ссылок. Импорт невозможен.
      -else
        %p Файл имеет неверный заголовок
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист или невозможно определить муниципальное образование.
-else
  = "Импорт ссылок из Excel-файла :: "
  %p Файл не выбран

.form-actions
  = link_to t("buttons.cancel"), new_monitoring_objectivity_ates_import_path, :class => 'btn btn-primary btn-with-tooltip'
  = link_to t("buttons.to_list"), monitoring_objectivity_ates_path, :class => 'btn btn-primary btn-with-tooltip'