%h1 Импорт ответов на анкету по объективности
%p
  Помните: следует загружать только таблицы, соответствующие формату выгрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели.
  %li При загрузке будут импортированы только ссылки на файлы, сами файлы импортировать невозможно.
  %li Сведения о муниципалитете и пользователе, заполнившем анкету, игнорируются. Загружать могут только муниципалитеты.
%h5 Выберите файл
= form_for @monitoring_objectivity_ates_import do |f|
  - if @monitoring_objectivity_ates_import.errors.any?
    = pluralize(@monitoring_objectivity_ates_import.errors.count, "error")
    защита от неверного импорта таблиц.
    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @monitoring_objectivity_ates_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("Import File")