%h4= t("ous.actions.edit")
= form_for @ou do |f|
  .form-group
    %table
      %tr
        %td= t("ous.code")
        %td= f.number_field :code, autofocus: false, placeholder: t("ous.code"), class: 'form-control'
      %tr
        %td= t("ous.full_name")
        %td= f.text_field :name, autofocus: false, placeholder: t("ous.name"), class: 'form-control'
      %tr
        %td= t("ous.ate_full_name")
        %td= f.collection_select :ate_id, @ates, :id, :name, prompt: true, placeholder: t('ou.choose_ate')
      %tr
        %td= t("ous.mouo_full_name")
        %td= f.collection_select :mouo_id, @mouos, :id, :name, prompt: true, placeholder: t('ou.choose_mouo')
      %tr
        %td= t("ous.contact_fio")
        %td= f.text_field :contact_fio, autofocus: false, placeholder: t("ous.contact_fio"), class: 'form-control'
      %tr
        %td= t("ous.contact_phone")
        %td= f.text_field :contact_phone, autofocus: false, placeholder: '+7-xxx-xxx-xxxx', class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @ou.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}