-if @ous.count > 20
  .apple_pagination
    = will_paginate @ous

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ous.id")
    %th= t("ous.code")
    %th= t("ous.full_name")
    %th= t("ous.ate_name")
    %th= t("ous.mouo_name")
    %th= t("ous.contact_fio")
    %th= t("ous.contact_phone")
    -if current_user.admin?
      %th= t("ous.created_at")
      %th= t("ous.updated_at")
    %th= t("ous.actions.title")
  %tbody
    - @ous.each do |row|
      %tr
        -if current_user.admin?
          %td= row.id.to_s
        %td= row.code.to_s
        %td= row.name.to_s
        %td= row.ate.name.to_s
        %td= row.mouo.name.to_s
        %td= row.contact_fio.to_s
        %td= row.contact_phone.to_s
        -if current_user.admin?
          %td= row.created_at.to_s
          %td= row.updated_at.to_s
        %td
          - if can? :edit, row
            = link_to edit_ou_path(row) do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          - if can? :destroy, row
            = link_to ou_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @ous.count > 20
  .apple_pagination
    = will_paginate @ous