.row
  .span9
    %h3.pull-left= t("ous.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag ous_path, :method => 'get', :id => "ous_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            -if can? :create, Ou
              = link_to new_ou_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            = link_to ous_export_path do
              = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            -if can? :import, Ou
              = link_to new_ous_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}
