%h4= t("monitoring_objectivity_ates.actions.edit")
- if @monitoring_objectivity_ate.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@monitoring_objectivity_ate.errors.count, "ошибок(ка)")
        = t('monitoring_objectivity_ates.errors.cant_saving')
      %ul
        - @monitoring_objectivity_ate.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("monitoring_objectivity_ates." + error.attribute.name)).gsub('Target', 'Образовательная организация').gsub('User', 'Пользователь')

= form_for @monitoring_objectivity_ate do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>2}
          = "Адресная часть"
      %tr
        %td=t('monitoring_objectivity_ates.mouo_id')
        -if current_user.admin?
          %td=f.collection_select :mouo_id, @ates, :id, :short_name_code, prompt: true, placeholder: t('monitoring_objectivity_ates.choose_ate')
        -else
          =f.hidden_field :mouo_id, :value => Mouo.where(" code = #{current_user.target_id} ").first.id
          %td=Mouo.where(" code = #{current_user.target_id} ").first.name

      %tr
        %td=t('monitoring_objectivity_ates.user_id')
        -if @monitoring_objectivity_ate.user_id.nil?
          -@monitoring_objectivity_ate.user_id = current_user.id
        =f.hidden_field :user_id, :value => current_user.id
        %td=User.find(@monitoring_objectivity_ate.user_id).first_name
      %tr
        %td=t('monitoring_objectivity_ates.status_id')
        %td=f.select :status_id, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_status')
      %tr
        %th{:colspan=>2}
          %hr

      %tr
        %td{:colspan=>3}
          %h5=t("objectivity_ate_marks.notes")
          .field{"data-controller" => "rich-text-table"}
            =f.rich_text_area :notes

      -#%tr
      -#  %td{:colspan=>3}
      -#    =f.text_area :notes, :cols => 120, :rows => 4

      %tr
        %td{:colspan=>3}
          %hr

      -# раздел №1
      %tr
        %th{:colspan=>2}
          = "01. "
          = t('monitoring_objectivity_ates.title01')
      %tr
        %td= t('monitoring_objectivity_ates.url01')
        %td= best_in_place @monitoring_objectivity_ate, :url01, :as => :input
        -#%td= f.text_field :url01, autofocus: false, placeholder: t("monitoring_objectivity_ates.url01"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document01')
          = ": "
          - if @monitoring_objectivity_ate.document01.previewable?
            = link_to @monitoring_objectivity_ate.document01 do
              = image_tag @monitoring_objectivity_ate.document01.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document01.attached?
              = link_to @monitoring_objectivity_ate.document01.filename, @monitoring_objectivity_ate.document01
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document01, direct_upload: true
          = f.check_box(:delete_document01)
          = t("monitoring_objectivity_ates.delete_file")
      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №2
      %tr
        %th{:colspan=>2}
          = "02. "
          = t('monitoring_objectivity_ates.title02')
      %tr
        %td= t('monitoring_objectivity_ates.url02')
        -#%td= f.text_field :url02, autofocus: false, placeholder: t("monitoring_objectivity_ates.url02"), class: 'form-control'
        %td= best_in_place @monitoring_objectivity_ate, :url02, :as => :input
      %tr
        %td
          = t('monitoring_objectivity_ates.document02')
          = ": "
          - if @monitoring_objectivity_ate.document02.previewable?
            = link_to @monitoring_objectivity_ate.document02 do
              = image_tag @monitoring_objectivity_ate.document02.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document02.attached?
              = link_to @monitoring_objectivity_ate.document02.name, @monitoring_objectivity_ate.document02
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document02, direct_upload: true
          = f.check_box(:delete_document02)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №03
      %tr
        %th{:colspan=>2}
          = "03. "
          = t('monitoring_objectivity_ates.title03')
      %tr
        %td= t('monitoring_objectivity_ates.url03')
        %td= best_in_place @monitoring_objectivity_ate, :url03, :as => :input
        -#%td= f.text_field :url03, autofocus: false, placeholder: t("monitoring_objectivity_ates.url03"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document03')
          = ": "
          - if @monitoring_objectivity_ate.document03.previewable?
            = link_to @monitoring_objectivity_ate.document03 do
              = image_tag @monitoring_objectivity_ate.document03.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document03.attached?
              = link_to @monitoring_objectivity_ate.document03.name, @monitoring_objectivity_ate.document03
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document03, direct_upload: true
          = f.check_box(:delete_document03)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №04
      %tr
        %th{:colspan=>2}
          = "04. "
          = t('monitoring_objectivity_ates.title04')
      %tr
        %td= t('monitoring_objectivity_ates.url04')
        %td= best_in_place @monitoring_objectivity_ate, :url04, :as => :input
        -#%td= f.text_field :url04, autofocus: false, placeholder: t("monitoring_objectivity_ates.url04"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document04')
          = ": "
          - if @monitoring_objectivity_ate.document04.previewable?
            = link_to @monitoring_objectivity_ate.document04 do
              = image_tag @monitoring_objectivity_ate.document04.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document04.attached?
              = link_to @monitoring_objectivity_ate.document04.name, @monitoring_objectivity_ate.document04
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document04, direct_upload: true
          = f.check_box(:delete_document04)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №05
      %tr
        %th{:colspan=>2}
          = "05. "
          = t('monitoring_objectivity_ates.title05')
      %tr
        %td= t('monitoring_objectivity_ates.url05')
        %td= best_in_place @monitoring_objectivity_ate, :url05, :as => :input
        -#%td= f.text_field :url05, autofocus: false, placeholder: t("monitoring_objectivity_ates.url05"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document05')
          = ": "
          - if @monitoring_objectivity_ate.document05.previewable?
            = link_to @monitoring_objectivity_ate.document05 do
              = image_tag @monitoring_objectivity_ate.document05.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document05.attached?
              = link_to @monitoring_objectivity_ate.document05.name, @monitoring_objectivity_ate.document05
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document05, direct_upload: true
          = f.check_box(:delete_document05)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №06
      %tr
        %th{:colspan=>2}
          = "06. "
          = t('monitoring_objectivity_ates.title06')
      %tr
        %td= t('monitoring_objectivity_ates.url06')
        %td= best_in_place @monitoring_objectivity_ate, :url06, :as => :input
        -#%td= f.text_field :url06, autofocus: false, placeholder: t("monitoring_objectivity_ates.url06"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document06')
          = ": "
          - if @monitoring_objectivity_ate.document06.previewable?
            = link_to @monitoring_objectivity_ate.document06 do
              = image_tag @monitoring_objectivity_ate.document06.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document06.attached?
              = link_to @monitoring_objectivity_ate.document06.name, @monitoring_objectivity_ate.document06
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document06, direct_upload: true
          = f.check_box(:delete_document06)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №07
      %tr
        %th{:colspan=>2}
          = "07. "
          = t('monitoring_objectivity_ates.title07')
      %tr
        %td= t('monitoring_objectivity_ates.url07')
        %td= best_in_place @monitoring_objectivity_ate, :url07, :as => :input
        -#%td= f.text_field :url07, autofocus: false, placeholder: t("monitoring_objectivity_ates.url07"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document07')
          = ": "
          - if @monitoring_objectivity_ate.document07.previewable?
            = link_to @monitoring_objectivity_ate.document07 do
              = image_tag @monitoring_objectivity_ate.document07.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document07.attached?
              = link_to @monitoring_objectivity_ate.document07.name, @monitoring_objectivity_ate.document07
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document07, direct_upload: true
          = f.check_box(:delete_document07)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №08
      %tr
        %th{:colspan=>2}
          = "08. "
          = t('monitoring_objectivity_ates.title08')
      %tr
        %td= t('monitoring_objectivity_ates.url08')
        %td= best_in_place @monitoring_objectivity_ate, :url08, :as => :input
        -#%td= f.text_field :url08, autofocus: false, placeholder: t("monitoring_objectivity_ates.url08"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document08')
          = ": "
          - if @monitoring_objectivity_ate.document08.previewable?
            = link_to @monitoring_objectivity_ate.document08 do
              = image_tag @monitoring_objectivity_ate.document08.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document08.attached?
              = link_to @monitoring_objectivity_ate.document08.name, @monitoring_objectivity_ate.document08
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document08, direct_upload: true
          = f.check_box(:delete_document08)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №09
      %tr
        %th{:colspan=>2}
          = "09. "
          = t('monitoring_objectivity_ates.title09')
      %tr
        %td= t('monitoring_objectivity_ates.url09')
        %td= best_in_place @monitoring_objectivity_ate, :url09, :as => :input
        -#%td= f.text_field :url09, autofocus: false, placeholder: t("monitoring_objectivity_ates.url09"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document09')
          = ": "
          - if @monitoring_objectivity_ate.document09.previewable?
            = link_to @monitoring_objectivity_ate.document09 do
              = image_tag @monitoring_objectivity_ate.document09.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document09.attached?
              = link_to @monitoring_objectivity_ate.document09.name, @monitoring_objectivity_ate.document09
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document09, direct_upload: true
          = f.check_box(:delete_document09)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №10
      %tr
        %th{:colspan=>2}
          = "10. "
          = t('monitoring_objectivity_ates.title10')
      %tr
        %td= t('monitoring_objectivity_ates.url10')
        %td= best_in_place @monitoring_objectivity_ate, :url10, :as => :input
        -#%td= f.text_field :url10, autofocus: false, placeholder: t("monitoring_objectivity_ates.url10"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document10')
          = ": "
          - if @monitoring_objectivity_ate.document10.previewable?
            = link_to @monitoring_objectivity_ate.document10 do
              = image_tag @monitoring_objectivity_ate.document10.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ate.document10.attached?
              = link_to @monitoring_objectivity_ate.document10.name, @monitoring_objectivity_ate.document10
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document10, direct_upload: true
          = f.check_box(:delete_document10)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №11
      %tr
        %th{:colspan=>2}
          = "11. "
          = t('monitoring_objectivity_ates.title11')
      %tr
        %td= t('monitoring_objectivity_ates.url11')
        %td= best_in_place @monitoring_objectivity_ate, :url11, :as => :input
        -#%td= f.text_field :url11, autofocus: false, placeholder: t("monitoring_objectivity_ates.url11"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document11')
          = ": "
          - if @monitoring_objectivity_ate.document11.previewable?
            = link_to @monitoring_objectivity_ate.document11 do
              = image_tag @monitoring_objectivity_ate.document11.preview(resize_to_limit: [110, 110])
          - else
            -if @monitoring_objectivity_ate.document11.attached?
              = link_to @monitoring_objectivity_ate.document11.name, @monitoring_objectivity_ate.document11
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document11, direct_upload: true
          = f.check_box(:delete_document11)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      -# раздел №12
      %tr
        %th{:colspan=>2}
          = "12. "
          = t('monitoring_objectivity_ates.title12')
      %tr
        %td= t('monitoring_objectivity_ates.url12')
        %td= best_in_place @monitoring_objectivity_ate, :url12, :as => :input
        -#%td= f.text_field :url12, autofocus: false, placeholder: t("monitoring_objectivity_ates.url12"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document12')
          = ": "
          - if @monitoring_objectivity_ate.document12.previewable?
            = link_to @monitoring_objectivity_ate.document12 do
              = image_tag @monitoring_objectivity_ate.document12.preview(resize_to_limit: [120, 120])
          - else
            -if @monitoring_objectivity_ate.document12.attached?
              = link_to @monitoring_objectivity_ate.document12.name, @monitoring_objectivity_ate.document12
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document12, direct_upload: true
          = f.check_box(:delete_document12)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №13
      %tr
        %th{:colspan=>2}
          = "13. "
          = t('monitoring_objectivity_ates.title13')
      %tr
        %td= t('monitoring_objectivity_ates.url13')
        %td= best_in_place @monitoring_objectivity_ate, :url13, :as => :input
        -#%td= f.text_field :url13, autofocus: false, placeholder: t("monitoring_objectivity_ates.url13"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document13')
          = ": "
          - if @monitoring_objectivity_ate.document13.previewable?
            = link_to @monitoring_objectivity_ate.document13 do
              = image_tag @monitoring_objectivity_ate.document13.preview(resize_to_limit: [130, 130])
          - else
            -if @monitoring_objectivity_ate.document13.attached?
              = link_to @monitoring_objectivity_ate.document13.name, @monitoring_objectivity_ate.document13
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document13, direct_upload: true
          = f.check_box(:delete_document13)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №14
      %tr
        %th{:colspan=>2}
          = "14. "
          = t('monitoring_objectivity_ates.title14')
      %tr
        %td= t('monitoring_objectivity_ates.url14')
        %td= best_in_place @monitoring_objectivity_ate, :url14, :as => :input
        -#%td= f.text_field :url14, autofocus: false, placeholder: t("monitoring_objectivity_ates.url14"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document14')
          = ": "
          - if @monitoring_objectivity_ate.document14.previewable?
            = link_to @monitoring_objectivity_ate.document14 do
              = image_tag @monitoring_objectivity_ate.document14.preview(resize_to_limit: [140, 140])
          - else
            -if @monitoring_objectivity_ate.document14.attached?
              = link_to @monitoring_objectivity_ate.document14.name, @monitoring_objectivity_ate.document14
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document14, direct_upload: true
          = f.check_box(:delete_document14)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №15
      %tr
        %th{:colspan=>2}
          = "15. "
          = t('monitoring_objectivity_ates.title15')
      %tr
        %td= t('monitoring_objectivity_ates.url15')
        %td= best_in_place @monitoring_objectivity_ate, :url15, :as => :input
        -#%td= f.text_field :url15, autofocus: false, placeholder: t("monitoring_objectivity_ates.url15"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document15')
          = ": "
          - if @monitoring_objectivity_ate.document15.previewable?
            = link_to @monitoring_objectivity_ate.document15 do
              = image_tag @monitoring_objectivity_ate.document15.preview(resize_to_limit: [150, 150])
          - else
            -if @monitoring_objectivity_ate.document15.attached?
              = link_to @monitoring_objectivity_ate.document15.name, @monitoring_objectivity_ate.document15
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document15, direct_upload: true
          = f.check_box(:delete_document15)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №16
      %tr
        %th{:colspan=>2}
          = "16. "
          = t('monitoring_objectivity_ates.title16')
      %tr
        %td= t('monitoring_objectivity_ates.url16')
        %td= best_in_place @monitoring_objectivity_ate, :url16, :as => :input
        -#%td= f.text_field :url16, autofocus: false, placeholder: t("monitoring_objectivity_ates.url16"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document16')
          = ": "
          - if @monitoring_objectivity_ate.document16.previewable?
            = link_to @monitoring_objectivity_ate.document16 do
              = image_tag @monitoring_objectivity_ate.document16.preview(resize_to_limit: [160, 160])
          - else
            -if @monitoring_objectivity_ate.document16.attached?
              = link_to @monitoring_objectivity_ate.document16.name, @monitoring_objectivity_ate.document16
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document16, direct_upload: true
          = f.check_box(:delete_document16)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №17
      %tr
        %th{:colspan=>2}
          = "17. "
          = t('monitoring_objectivity_ates.title17')
      %tr
        %td= t('monitoring_objectivity_ates.url17')
        %td= best_in_place @monitoring_objectivity_ate, :url17, :as => :input
        -#%td= f.text_field :url17, autofocus: false, placeholder: t("monitoring_objectivity_ates.url17"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ates.document17')
          = ": "
          - if @monitoring_objectivity_ate.document17.previewable?
            = link_to @monitoring_objectivity_ate.document17 do
              = image_tag @monitoring_objectivity_ate.document17.preview(resize_to_limit: [170, 170])
          - else
            -if @monitoring_objectivity_ate.document17.attached?
              = link_to @monitoring_objectivity_ate.document17.name, @monitoring_objectivity_ate.document17
            -else
              = t("monitoring_objectivity_ates.file_is_absent")
        %td
          = f.file_field :document17, direct_upload: true
          = f.check_box(:delete_document17)
          = t("monitoring_objectivity_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr





      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @monitoring_objectivity_ate.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}