-# = text_field_tag "filter[ou_id]", filter[:ou_id], :placeholder => t("helpers.placeholder.ou_id"), "data-autosubmit" => "keyup"

- heavy_filter = heavy_filter || false
- unless heavy_filter
- else
  = link_to "#", :class => "filter-btn btn" do
    %i.icon-
    %span= t("buttons.search")
