%h4= t("archive2021_ous.actions.edit")
- if @archive2021_ou.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@archive2021_ou.errors.count, "ошибок(ка)")
        = t('archive2021_ous.errors.cant_saving')
      %ul
        - @archive2021_ou.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("archive2021_ous." + error.attribute.name)).gsub('Target', 'Образовательная организация').gsub('User', 'Пользователь')

= form_for @archive2021_ou do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>2}
          = "Адресная часть"
      %tr
        %td=t('archive2021_ous.ou_id')
        -if !current_user.ous_role?
          %td=f.collection_select :ou_id, @ous, :id, :to_s, prompt: true, placeholder: t('archive2021_ous.choose_ou')
        -else
          =f.hidden_field :ou_id, :value => Ou.where(" code = #{current_user.target_id} ").first.id
          %td=Ou.where(" code = #{current_user.target_id} ").first.name
      %tr
        %td=t('archive2021_ous.user_id')
        -if @archive2021_ou.user_id.nil?
          -@archive2021_ou.user_id = current_user.id
        =f.hidden_field :user_id, :value => current_user.id
        %td=User.find(@archive2021_ou.user_id).first_name
      %tr
        %td=t('archive2021_ous.status_id')
        %td=f.select :status_id, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('archive2021_ous.choose_status')
      %tr
        %th{:colspan=>2}
          %hr
      -# раздел №1
      %tr
        %th{:colspan=>2}
          = "01. "
          = t('archive2021_ous.title01')
      %tr
        %td= t('archive2021_ous.url01')
        -#%td= best_in_place @archive2021_ou, :url01, :as => :input
        %td= f.text_field :url01, autofocus: false, placeholder: t("archive2021_ous.url01"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document01')
          = ": "
          - if @archive2021_ou.document01.previewable?
            = link_to @archive2021_ou.document01 do
              = image_tag @archive2021_ou.document01.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document01.exist?
              = link_to @archive2021_ou.document01.filename, @archive2021_ou.document01
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document01, direct_upload: true
          = f.check_box(:delete_document01)
          = t("archive2021_ous.delete_file")
      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №2
      %tr
        %th{:colspan=>2}
          = "02. "
          = t('archive2021_ous.title02')
      %tr
        %td= t('archive2021_ous.url02')
        %td= f.text_field :url02, autofocus: false, placeholder: t("archive2021_ous.url02"), class: 'form-control'
        -#%td= best_in_place @archive2021_ou, :url02, :as => :input
      %tr
        %td
          = t('archive2021_ous.document02')
          = ": "
          - if @archive2021_ou.document02.previewable?
            = link_to @archive2021_ou.document02 do
              = image_tag @archive2021_ou.document02.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document02.exist?
              = link_to @archive2021_ou.document02.name, @archive2021_ou.document02
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document02, direct_upload: true
          = f.check_box(:delete_document02)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №03
      %tr
        %th{:colspan=>2}
          = "03. "
          = t('archive2021_ous.title03')
      %tr
        %td= t('archive2021_ous.url03')
        -#%td= best_in_place @archive2021_ou, :url03, :as => :input
        %td= f.text_field :url03, autofocus: false, placeholder: t("archive2021_ous.url03"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document03')
          = ": "
          - if @archive2021_ou.document03.previewable?
            = link_to @archive2021_ou.document03 do
              = image_tag @archive2021_ou.document03.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document03.exist?
              = link_to @archive2021_ou.document03.name, @archive2021_ou.document03
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document03, direct_upload: true
          = f.check_box(:delete_document03)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №04
      %tr
        %th{:colspan=>2}
          = "04. "
          = t('archive2021_ous.title04')
      %tr
        %td= t('archive2021_ous.url04')
        -#%td= best_in_place @archive2021_ou, :url04, :as => :input
        %td= f.text_field :url04, autofocus: false, placeholder: t("archive2021_ous.url04"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document04')
          = ": "
          - if @archive2021_ou.document04.previewable?
            = link_to @archive2021_ou.document04 do
              = image_tag @archive2021_ou.document04.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document04.exist?
              = link_to @archive2021_ou.document04.name, @archive2021_ou.document04
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document04, direct_upload: true
          = f.check_box(:delete_document04)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №05
      %tr
        %th{:colspan=>2}
          = "05. "
          = t('archive2021_ous.title05')
      %tr
        %td= t('archive2021_ous.url05')
        -#%td= best_in_place @archive2021_ou, :url05, :as => :input
        %td= f.text_field :url05, autofocus: false, placeholder: t("archive2021_ous.url05"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document05')
          = ": "
          - if @archive2021_ou.document05.previewable?
            = link_to @archive2021_ou.document05 do
              = image_tag @archive2021_ou.document05.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document05.exist?
              = link_to @archive2021_ou.document05.name, @archive2021_ou.document05
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document05, direct_upload: true
          = f.check_box(:delete_document05)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №06
      %tr
        %th{:colspan=>2}
          = "06. "
          = t('archive2021_ous.title06')
      %tr
        %td= t('archive2021_ous.url06')
        -#%td= best_in_place @archive2021_ou, :url06, :as => :input
        %td= f.text_field :url06, autofocus: false, placeholder: t("archive2021_ous.url06"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document06')
          = ": "
          - if @archive2021_ou.document06.previewable?
            = link_to @archive2021_ou.document06 do
              = image_tag @archive2021_ou.document06.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document06.exist?
              = link_to @archive2021_ou.document06.name, @archive2021_ou.document06
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document06, direct_upload: true
          = f.check_box(:delete_document06)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №07
      %tr
        %th{:colspan=>2}
          = "07. "
          = t('archive2021_ous.title07')
      %tr
        %td= t('archive2021_ous.url07')
        -#%td= best_in_place @archive2021_ou, :url07, :as => :input
        %td= f.text_field :url07, autofocus: false, placeholder: t("archive2021_ous.url07"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document07')
          = ": "
          - if @archive2021_ou.document07.previewable?
            = link_to @archive2021_ou.document07 do
              = image_tag @archive2021_ou.document07.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document07.exist?
              = link_to @archive2021_ou.document07.name, @archive2021_ou.document07
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document07, direct_upload: true
          = f.check_box(:delete_document07)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №08
      %tr
        %th{:colspan=>2}
          = "08. "
          = t('archive2021_ous.title08')
      %tr
        %td= t('archive2021_ous.url08')
        -#%td= best_in_place @archive2021_ou, :url08, :as => :input
        %td= f.text_field :url08, autofocus: false, placeholder: t("archive2021_ous.url08"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document08')
          = ": "
          - if @archive2021_ou.document08.previewable?
            = link_to @archive2021_ou.document08 do
              = image_tag @archive2021_ou.document08.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document08.exist?
              = link_to @archive2021_ou.document08.name, @archive2021_ou.document08
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document08, direct_upload: true
          = f.check_box(:delete_document08)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №09
      %tr
        %th{:colspan=>2}
          = "09. "
          = t('archive2021_ous.title09')
      %tr
        %td= t('archive2021_ous.url09')
        -#%td= best_in_place @archive2021_ou, :url09, :as => :input
        %td= f.text_field :url09, autofocus: false, placeholder: t("archive2021_ous.url09"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document09')
          = ": "
          - if @archive2021_ou.document09.previewable?
            = link_to @archive2021_ou.document09 do
              = image_tag @archive2021_ou.document09.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document09.exist?
              = link_to @archive2021_ou.document09.name, @archive2021_ou.document09
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document09, direct_upload: true
          = f.check_box(:delete_document09)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №10
      %tr
        %th{:colspan=>2}
          = "10. "
          = t('archive2021_ous.title10')
      %tr
        %td= t('archive2021_ous.url10')
        -#%td= best_in_place @archive2021_ou, :url10, :as => :input
        %td= f.text_field :url10, autofocus: false, placeholder: t("archive2021_ous.url10"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document10')
          = ": "
          - if @archive2021_ou.document10.previewable?
            = link_to @archive2021_ou.document10 do
              = image_tag @archive2021_ou.document10.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ou.document10.exist?
              = link_to @archive2021_ou.document10.name, @archive2021_ou.document10
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document10, direct_upload: true
          = f.check_box(:delete_document10)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №11
      %tr
        %th{:colspan=>2}
          = "11. "
          = t('archive2021_ous.title11')
      %tr
        %td= t('archive2021_ous.url11')
        -#%td= best_in_place @archive2021_ou, :url11, :as => :input
        %td= f.text_field :url11, autofocus: false, placeholder: t("archive2021_ous.url11"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document11')
          = ": "
          - if @archive2021_ou.document11.previewable?
            = link_to @archive2021_ou.document11 do
              = image_tag @archive2021_ou.document11.preview(resize_to_limit: [110, 110])
          - else
            -if @archive2021_ou.document11.exist?
              = link_to @archive2021_ou.document11.name, @archive2021_ou.document11
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document11, direct_upload: true
          = f.check_box(:delete_document11)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №12
      %tr
        %th{:colspan=>2}
          = "12. "
          = t('archive2021_ous.title12')
      %tr
        %td= t('archive2021_ous.url12')
        -#%td= best_in_place @archive2021_ou, :url12, :as => :input
        %td= f.text_field :url12, autofocus: false, placeholder: t("archive2021_ous.url12"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document12')
          = ": "
          - if @archive2021_ou.document12.previewable?
            = link_to @archive2021_ou.document12 do
              = image_tag @archive2021_ou.document12.preview(resize_to_limit: [120, 120])
          - else
            -if @archive2021_ou.document12.exist?
              = link_to @archive2021_ou.document12.name, @archive2021_ou.document12
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document12, direct_upload: true
          = f.check_box(:delete_document12)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №13
      %tr
        %th{:colspan=>2}
          = "13. "
          = t('archive2021_ous.title13')
      %tr
        %td= t('archive2021_ous.url13')
        -#%td= best_in_place @archive2021_ou, :url13, :as => :input
        %td= f.text_field :url13, autofocus: false, placeholder: t("archive2021_ous.url13"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document13')
          = ": "
          - if @archive2021_ou.document13.previewable?
            = link_to @archive2021_ou.document13 do
              = image_tag @archive2021_ou.document13.preview(resize_to_limit: [130, 130])
          - else
            -if @archive2021_ou.document13.exist?
              = link_to @archive2021_ou.document13.name, @archive2021_ou.document13
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document13, direct_upload: true
          = f.check_box(:delete_document13)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №14
      %tr
        %th{:colspan=>2}
          = "14. "
          = t('archive2021_ous.title14')
      %tr
        %td= t('archive2021_ous.url14')
        -#%td= best_in_place @archive2021_ou, :url14, :as => :input
        %td= f.text_field :url14, autofocus: false, placeholder: t("archive2021_ous.url14"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document14')
          = ": "
          - if @archive2021_ou.document14.previewable?
            = link_to @archive2021_ou.document14 do
              = image_tag @archive2021_ou.document14.preview(resize_to_limit: [140, 140])
          - else
            -if @archive2021_ou.document14.exist?
              = link_to @archive2021_ou.document14.name, @archive2021_ou.document14
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document14, direct_upload: true
          = f.check_box(:delete_document14)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №15
      %tr
        %th{:colspan=>2}
          = "15. "
          = t('archive2021_ous.title15')
      %tr
        %td= t('archive2021_ous.url15')
        -#%td= best_in_place @archive2021_ou, :url15, :as => :input
        %td= f.text_field :url15, autofocus: false, placeholder: t("archive2021_ous.url15"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document15')
          = ": "
          - if @archive2021_ou.document15.previewable?
            = link_to @archive2021_ou.document15 do
              = image_tag @archive2021_ou.document15.preview(resize_to_limit: [150, 150])
          - else
            -if @archive2021_ou.document15.exist?
              = link_to @archive2021_ou.document15.name, @archive2021_ou.document15
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document15, direct_upload: true
          = f.check_box(:delete_document15)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      -# раздел №16
      %tr
        %th{:colspan=>2}
          = "16. "
          = t('archive2021_ous.title16')
      %tr
        %td= t('archive2021_ous.url16')
        -#%td= best_in_place @archive2021_ou, :url16, :as => :input
        %td= f.text_field :url16, autofocus: false, placeholder: t("archive2021_ous.url16"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ous.document16')
          = ": "
          - if @archive2021_ou.document16.previewable?
            = link_to @archive2021_ou.document16 do
              = image_tag @archive2021_ou.document16.preview(resize_to_limit: [160, 160])
          - else
            -if @archive2021_ou.document16.exist?
              = link_to @archive2021_ou.document16.name, @archive2021_ou.document16
            -else
              = t("archive2021_ous.file_is_absent")
        %td
          = f.file_field :document16, direct_upload: true
          = f.check_box(:delete_document16)
          = t("archive2021_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @archive2021_ou.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}