%h4= t("archive2021_ates.actions.edit")
- if @archive2021_ate.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@archive2021_ate.errors.count, "ошибок(ка)")
        = t('archive2021_ates.errors.cant_saving')
      %ul
        - @archive2021_ate.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("archive2021_ates." + error.attribute.name)).gsub('Target', 'Образовательная организация').gsub('User', 'Пользователь')

= form_for @archive2021_ate do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>2}
          = "Адресная часть"
      %tr
        %td=t('archive2021_ates.mouo_id')
        -if current_user.admin?
          %td=f.collection_select :mouo_id, @ates, :id, :short_name_code, prompt: true, placeholder: t('archive2021_ates.choose_ate')
        -else
          =f.hidden_field :mouo_id, :value => Mouo.where(" code = #{current_user.target_id} ").first.id
          %td=Mouo.where(" code = #{current_user.target_id} ").first.name

      %tr
        %td=t('archive2021_ates.user_id')
        -if @archive2021_ate.user_id.nil?
          -@archive2021_ate.user_id = current_user.id
        =f.hidden_field :user_id, :value => current_user.id
        %td=User.find(@archive2021_ate.user_id).first_name
      %tr
        %td=t('archive2021_ates.status_id')
        %td=f.select :status_id, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('archive2021_ates.choose_status')
      %tr
        %th{:colspan=>2}
          %hr
      -# раздел №1
      %tr
        %th{:colspan=>2}
          = "01. "
          = t('archive2021_ates.title01')
      %tr
        %td= t('archive2021_ates.url01')
        %td= best_in_place @archive2021_ate, :url01, :as => :input
        -#%td= f.text_field :url01, autofocus: false, placeholder: t("archive2021_ates.url01"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document01')
          = ": "
          - if @archive2021_ate.document01.previewable?
            = link_to @archive2021_ate.document01 do
              = image_tag @archive2021_ate.document01.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document01.attached?
              = link_to @archive2021_ate.document01.filename, @archive2021_ate.document01
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document01, direct_upload: true
          = f.check_box(:delete_document01)
          = t("archive2021_ates.delete_file")
      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №2
      %tr
        %th{:colspan=>2}
          = "02. "
          = t('archive2021_ates.title02')
      %tr
        %td= t('archive2021_ates.url02')
        -#%td= f.text_field :url02, autofocus: false, placeholder: t("archive2021_ates.url02"), class: 'form-control'
        %td= best_in_place @archive2021_ate, :url02, :as => :input
      %tr
        %td
          = t('archive2021_ates.document02')
          = ": "
          - if @archive2021_ate.document02.previewable?
            = link_to @archive2021_ate.document02 do
              = image_tag @archive2021_ate.document02.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document02.attached?
              = link_to @archive2021_ate.document02.name, @archive2021_ate.document02
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document02, direct_upload: true
          = f.check_box(:delete_document02)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №03
      %tr
        %th{:colspan=>2}
          = "03. "
          = t('archive2021_ates.title03')
      %tr
        %td= t('archive2021_ates.url03')
        %td= best_in_place @archive2021_ate, :url03, :as => :input
        -#%td= f.text_field :url03, autofocus: false, placeholder: t("archive2021_ates.url03"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document03')
          = ": "
          - if @archive2021_ate.document03.previewable?
            = link_to @archive2021_ate.document03 do
              = image_tag @archive2021_ate.document03.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document03.attached?
              = link_to @archive2021_ate.document03.name, @archive2021_ate.document03
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document03, direct_upload: true
          = f.check_box(:delete_document03)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №04
      %tr
        %th{:colspan=>2}
          = "04. "
          = t('archive2021_ates.title04')
      %tr
        %td= t('archive2021_ates.url04')
        %td= best_in_place @archive2021_ate, :url04, :as => :input
        -#%td= f.text_field :url04, autofocus: false, placeholder: t("archive2021_ates.url04"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document04')
          = ": "
          - if @archive2021_ate.document04.previewable?
            = link_to @archive2021_ate.document04 do
              = image_tag @archive2021_ate.document04.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document04.attached?
              = link_to @archive2021_ate.document04.name, @archive2021_ate.document04
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document04, direct_upload: true
          = f.check_box(:delete_document04)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №05
      %tr
        %th{:colspan=>2}
          = "05. "
          = t('archive2021_ates.title05')
      %tr
        %td= t('archive2021_ates.url05')
        %td= best_in_place @archive2021_ate, :url05, :as => :input
        -#%td= f.text_field :url05, autofocus: false, placeholder: t("archive2021_ates.url05"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document05')
          = ": "
          - if @archive2021_ate.document05.previewable?
            = link_to @archive2021_ate.document05 do
              = image_tag @archive2021_ate.document05.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document05.attached?
              = link_to @archive2021_ate.document05.name, @archive2021_ate.document05
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document05, direct_upload: true
          = f.check_box(:delete_document05)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №06
      %tr
        %th{:colspan=>2}
          = "06. "
          = t('archive2021_ates.title06')
      %tr
        %td= t('archive2021_ates.url06')
        %td= best_in_place @archive2021_ate, :url06, :as => :input
        -#%td= f.text_field :url06, autofocus: false, placeholder: t("archive2021_ates.url06"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document06')
          = ": "
          - if @archive2021_ate.document06.previewable?
            = link_to @archive2021_ate.document06 do
              = image_tag @archive2021_ate.document06.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document06.attached?
              = link_to @archive2021_ate.document06.name, @archive2021_ate.document06
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document06, direct_upload: true
          = f.check_box(:delete_document06)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №07
      %tr
        %th{:colspan=>2}
          = "07. "
          = t('archive2021_ates.title07')
      %tr
        %td= t('archive2021_ates.url07')
        %td= best_in_place @archive2021_ate, :url07, :as => :input
        -#%td= f.text_field :url07, autofocus: false, placeholder: t("archive2021_ates.url07"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document07')
          = ": "
          - if @archive2021_ate.document07.previewable?
            = link_to @archive2021_ate.document07 do
              = image_tag @archive2021_ate.document07.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document07.attached?
              = link_to @archive2021_ate.document07.name, @archive2021_ate.document07
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document07, direct_upload: true
          = f.check_box(:delete_document07)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №08
      %tr
        %th{:colspan=>2}
          = "08. "
          = t('archive2021_ates.title08')
      %tr
        %td= t('archive2021_ates.url08')
        %td= best_in_place @archive2021_ate, :url08, :as => :input
        -#%td= f.text_field :url08, autofocus: false, placeholder: t("archive2021_ates.url08"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document08')
          = ": "
          - if @archive2021_ate.document08.previewable?
            = link_to @archive2021_ate.document08 do
              = image_tag @archive2021_ate.document08.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document08.attached?
              = link_to @archive2021_ate.document08.name, @archive2021_ate.document08
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document08, direct_upload: true
          = f.check_box(:delete_document08)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №09
      %tr
        %th{:colspan=>2}
          = "09. "
          = t('archive2021_ates.title09')
      %tr
        %td= t('archive2021_ates.url09')
        %td= best_in_place @archive2021_ate, :url09, :as => :input
        -#%td= f.text_field :url09, autofocus: false, placeholder: t("archive2021_ates.url09"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document09')
          = ": "
          - if @archive2021_ate.document09.previewable?
            = link_to @archive2021_ate.document09 do
              = image_tag @archive2021_ate.document09.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document09.attached?
              = link_to @archive2021_ate.document09.name, @archive2021_ate.document09
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document09, direct_upload: true
          = f.check_box(:delete_document09)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №10
      %tr
        %th{:colspan=>2}
          = "10. "
          = t('archive2021_ates.title10')
      %tr
        %td= t('archive2021_ates.url10')
        %td= best_in_place @archive2021_ate, :url10, :as => :input
        -#%td= f.text_field :url10, autofocus: false, placeholder: t("archive2021_ates.url10"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document10')
          = ": "
          - if @archive2021_ate.document10.previewable?
            = link_to @archive2021_ate.document10 do
              = image_tag @archive2021_ate.document10.preview(resize_to_limit: [100, 100])
          - else
            -if @archive2021_ate.document10.attached?
              = link_to @archive2021_ate.document10.name, @archive2021_ate.document10
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document10, direct_upload: true
          = f.check_box(:delete_document10)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №11
      %tr
        %th{:colspan=>2}
          = "11. "
          = t('archive2021_ates.title11')
      %tr
        %td= t('archive2021_ates.url11')
        %td= best_in_place @archive2021_ate, :url11, :as => :input
        -#%td= f.text_field :url11, autofocus: false, placeholder: t("archive2021_ates.url11"), class: 'form-control'
      %tr
        %td
          = t('archive2021_ates.document11')
          = ": "
          - if @archive2021_ate.document11.previewable?
            = link_to @archive2021_ate.document11 do
              = image_tag @archive2021_ate.document11.preview(resize_to_limit: [110, 110])
          - else
            -if @archive2021_ate.document11.attached?
              = link_to @archive2021_ate.document11.name, @archive2021_ate.document11
            -else
              = t("archive2021_ates.file_is_absent")
        %td
          = f.file_field :document11, direct_upload: true
          = f.check_box(:delete_document11)
          = t("archive2021_ates.delete_file")

      %tr
        %th{:colspan=>2}
          %hr



      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @archive2021_ate.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}