-if @archive2021_ates.count > 20
  .apple_pagination
    = will_paginate @archive2021_ates

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ous.id")
    %th= t("archive2021_ates.mouo_id")
    -#%th= t("archive2021_ates.user_id")
    %th= t("archive2021_ates.status_id")
    %th= t("archive2021_ates.urls")
    -if current_user.admin?
      %th= t("archive2021_ates.created_at")
      %th= t("archive2021_ates.updated_at")
    %th= t("ous.actions.title")
  %tbody
    - @archive2021_ates.each do |row|
      %tr
        -if current_user.admin?
          %td= row.id.to_s
        %td= Mouo.find(row.mouo_id).short_name_code
        -#%td= User.find(row.user_id).first_name
        %td
          -if row.status_id == 1
            ="Завершена"
          -else
            ="В работе"
        %td
          = row.entered.to_s
          = "из 11"
          .progress
            .progress-bar.progress-bar-striped.progress-bar-animated{"aria-valuemax" => "11", "aria-valuemin" => "0", "aria-valuenow" => "#{row.entered.to_s}", :role => "progressbar", :style => "width: #{row.entered*100/11}%"}

        -if current_user.admin?
          %td= row.created_at.strftime("%d.%m.%Y\u00a0%H:%M")
          %td= row.updated_at.strftime("%d.%m.%Y\u00a0%H:%M")
        %td
          - if can? :read, row
            = link_to archive2021_ate_path(row) do
              = bootstrap_icon "eye", width: 15, height: 15, fill: "green"
          - if can? :edit, row
            = link_to edit_archive2021_ate_path(row) do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          - if can? :destroy, row
            = link_to archive2021_ate_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"
          =""

-if @archive2021_ates.count > 20
  .apple_pagination
    = will_paginate @archive2021_ates