.row
  .span9
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            %h3.pull-left= t("archive2021_ates.list.title")
          %td{:width=>100}
            - if can? :create, Archive2021Ate
              = link_to new_archive2021_ate_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            = link_to archive2021_ates_export_path do
              = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            -# = link_to new_archive2021_ates_import_path do
            -#  = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"

    = form_tag archive2021_ates_path,:method => "GET", :class => "simple-filter archive2021_ates-filter", "data-button" => "a#archive2021_ates-search", "data-target" => ".archive2021_ates-filter-target" do
      = render :partial => "filter_fields",:locals => {:filter => @filter}

    = form_tag archive2021_ates_path, :method => 'get', :id => "archive2021_ates_search" do
      %p
        = t("archive2021_ates.filter.code_or_name")
        = text_field_tag "search", params[:search]
        = t("archive2021_ates.filter.status")
        = select_tag "filter", options_for_select(@statuses.collect {|p| [ p['name'], p['id'] ] }, :selected => params[:filter]),
              {:include_blank => true, :class => "simple-chosen", "data-placeholder" => t("helpers.placeholder.statuses") ,"data-autosubmit" => "change"}
        = t("archive2021_ates.filter.ates")
        = select_tag "ates", options_for_select(@ates.collect {|p| [ ('00' + p['code'].to_s)[-2..-1] + ' ' + p.short_name, p['id'] ] }, :selected => params[:ates]),
              {:include_blank => true, :class => "simple-chosen", "data-placeholder" => t("helpers.placeholder.ates") ,"data-autosubmit" => "change"}
        = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
          = bootstrap_icon "search", width: 25, height: 25, fill: "blue"


    - md = []
    - @archive2021_ates.each do |row|
      - i = 0
      - while i < 16
        - i = i + 1
        -if row.entered_number(i)
          - md[i] = (md[i] || 0) + 1
    - i = 0
    - mdata = Array.new
    - while i < 16
      - i = i + 1
      - b = ["п.#{i}", md[i]]
      - mdata.append(b)
    -# = mdata
    = column_chart mdata, stacked: true, download: {filename: "archive2021_ates_" + DateTime.now.getlocal.to_s.gsub(' ', '-').gsub(':', '.')}


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t("archive2021_ates.title")}
