-@ball01 = [{"name"=>"приказы отсутствуют", "id"=> 0}, {"name"=>"по одной процедуре", "id"=>1}, {"name"=>"по всем процедурам", "id"=>2}]
-@ball02 = [{"name"=>"документа нет", "id"=> 0}, {"name"=>"документ есть", "id"=>1}]
-@ball03 = [{"name"=>"системы нет", "id"=> 0}, {"name"=>"система есть", "id"=>1}]
-@ball04 = [{"name"=>"графика нет", "id"=> 0}, {"name"=>"график есть", "id"=>1}]
-@ball05 = [{"name"=>"рекомендаций нет", "id"=> 0}, {"name"=>"рекомендации есть", "id"=>1}]
-@ball06 = [{"name"=>"справки нет", "id"=> 0}, {"name"=>"справка есть", "id"=>1}]
-@ball07 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball08 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball09 = [{"name"=>"справки нет", "id"=> 0}, {"name"=>"справка есть", "id"=>1}]
-@ball10 = [{"name"=>"рекомендаций нет", "id"=> 0}, {"name"=>"рекомендации есть", "id"=>1}]
-@ball11 = [{"name"=>"мероприятий нет", "id"=> 0}, {"name"=>"мероприятия есть", "id"=>1}]

%h4= t("archive2021_ate_marks.actions.edit")
- if @archive2021_ate_mark.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@archive2021_ate_mark.errors.count, "ошибок(ка)")
        = t('archive2021_ate_marks.errors.cant_saving')
      %ul
        - @archive2021_ate_mark.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("archive2021_ate_marks." + error.attribute.name))

%p
  ="Баллы предзаполнены по результатам вычислений есть/нет ссылка или документ. Анализ содержания документов не производился. Вам необходимо проверить доступность и достоверность представленных сведений!"

= form_for @archive2021_ate_mark do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>3}
          = "Адресная часть"
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td{:colspan=>3}
          %b
            =t('archive2021_ate_marks.mouo')
          =@monitoring_objectivity_ate.mouo.name
          =f.hidden_field :monitoring_objectivity_ates_id, :value => @monitoring_objectivity_ate.id
          %br
          %b
            =t('archive2021_ate_marks.user')
          =current_user.email
          =f.hidden_field :users_id, :value => current_user.id
          %br
          %b
            =t('archive2021_ate_marks.status')
          =f.select :status, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_status')

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %th="№"
        %th="Балл"
        %th="Заполненные данные"

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=1
        %td
          =f.select :mark01, @ball01.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title01')
          %table
            -if @monitoring_objectivity_ate.url01.present?
              %tr
                %td=t('archive2021_ate_marks.url01')
                %td=link_to @monitoring_objectivity_ate.url01, @monitoring_objectivity_ate.url01, target: :_blank
            -if @monitoring_objectivity_ate.document01.present?
              %tr
                %td=t('archive2021_ate_marks.document01')
                %td= link_to @monitoring_objectivity_ate.document01.filename, @monitoring_objectivity_ate.document01, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=2
        %td
          =f.select :mark02, @ball02.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title02')
          %table
            -if @monitoring_objectivity_ate.url02.present?
              %tr
                %td=t('archive2021_ate_marks.url02')
                %td=link_to @monitoring_objectivity_ate.url02, @monitoring_objectivity_ate.url02, target: :_blank
            -if @monitoring_objectivity_ate.document02.present?
              %tr
                %td=t('archive2021_ate_marks.document02')
                %td= link_to @monitoring_objectivity_ate.document02.filename, @monitoring_objectivity_ate.document02, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=3
        %td
          =f.select :mark03, @ball03.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title03')
          %table
            -if @monitoring_objectivity_ate.url03.present?
              %tr
                %td=t('archive2021_ate_marks.url03')
                %td=link_to @monitoring_objectivity_ate.url03, @monitoring_objectivity_ate.url03, target: :_blank
            -if @monitoring_objectivity_ate.document03.present?
              %tr
                %td=t('archive2021_ate_marks.document03')
                %td= link_to @monitoring_objectivity_ate.document03.filename, @monitoring_objectivity_ate.document03, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=4
        %td
          =f.select :mark04, @ball04.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title04')
          %table
            -if @monitoring_objectivity_ate.url04.present?
              %tr
                %td=t('archive2021_ate_marks.url04')
                %td=link_to @monitoring_objectivity_ate.url04, @monitoring_objectivity_ate.url04, target: :_blank
            -if @monitoring_objectivity_ate.document04.present?
              %tr
                %td=t('archive2021_ate_marks.document04')
                %td= link_to @monitoring_objectivity_ate.document04.filename, @monitoring_objectivity_ate.document04, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=5
        %td
          =f.select :mark05, @ball05.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title05')
          %table
            -if @monitoring_objectivity_ate.url05.present?
              %tr
                %td=t('archive2021_ate_marks.url05')
                %td=link_to @monitoring_objectivity_ate.url05, @monitoring_objectivity_ate.url05, target: :_blank
            -if @monitoring_objectivity_ate.document05.present?
              %tr
                %td=t('archive2021_ate_marks.document05')
                %td= link_to @monitoring_objectivity_ate.document05.filename, @monitoring_objectivity_ate.document05, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=6
        %td
          =f.select :mark06, @ball06.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title06')
          %table
            -if @monitoring_objectivity_ate.url06.present?
              %tr
                %td=t('archive2021_ate_marks.url06')
                %td=link_to @monitoring_objectivity_ate.url06, @monitoring_objectivity_ate.url06, target: :_blank
            -if @monitoring_objectivity_ate.document06.present?
              %tr
                %td=t('archive2021_ate_marks.document06')
                %td= link_to @monitoring_objectivity_ate.document06.filename, @monitoring_objectivity_ate.document06, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=7
        %td
          =f.select :mark07, @ball07.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title07')
          %table
            -if @monitoring_objectivity_ate.url07.present?
              %tr
                %td=t('archive2021_ate_marks.url07')
                %td=link_to @monitoring_objectivity_ate.url07, @monitoring_objectivity_ate.url07, target: :_blank
            -if @monitoring_objectivity_ate.document07.present?
              %tr
                %td=t('archive2021_ate_marks.document07')
                %td= link_to @monitoring_objectivity_ate.document07.filename, @monitoring_objectivity_ate.document07, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=8
        %td
          =f.select :mark08, @ball08.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title08')
          %table
            -if @monitoring_objectivity_ate.url08.present?
              %tr
                %td=t('archive2021_ate_marks.url08')
                %td=link_to @monitoring_objectivity_ate.url08, @monitoring_objectivity_ate.url08, target: :_blank
            -if @monitoring_objectivity_ate.document08.present?
              %tr
                %td=t('archive2021_ate_marks.document08')
                %td= link_to @monitoring_objectivity_ate.document08.filename, @monitoring_objectivity_ate.document08, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=9
        %td
          =f.select :mark09, @ball09.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title09')
          %table
            -if @monitoring_objectivity_ate.url09.present?
              %tr
                %td=t('archive2021_ate_marks.url09')
                %td=link_to @monitoring_objectivity_ate.url09, @monitoring_objectivity_ate.url09, target: :_blank
            -if @monitoring_objectivity_ate.document09.present?
              %tr
                %td=t('archive2021_ate_marks.document09')
                %td= link_to @monitoring_objectivity_ate.document09.filename, @monitoring_objectivity_ate.document09, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=10
        %td
          =f.select :mark10, @ball10.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title10')
          %table
            -if @monitoring_objectivity_ate.url10.present?
              %tr
                %td=t('archive2021_ate_marks.url10')
                %td=link_to @monitoring_objectivity_ate.url10, @monitoring_objectivity_ate.url10, target: :_blank
            -if @monitoring_objectivity_ate.document10.present?
              %tr
                %td=t('archive2021_ate_marks.document10')
                %td= link_to @monitoring_objectivity_ate.document10.filename, @monitoring_objectivity_ate.document10, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=11
        %td
          =f.select :mark11, @ball11.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('archive2021_ate_marks.title11')
          %table
            -if @monitoring_objectivity_ate.url11.present?
              %tr
                %td=t('archive2021_ate_marks.url11')
                %td=link_to @monitoring_objectivity_ate.url11, @monitoring_objectivity_ate.url11, target: :_blank
            -if @monitoring_objectivity_ate.document11.present?
              %tr
                %td=t('archive2021_ate_marks.document10')
                %td= link_to @monitoring_objectivity_ate.document11.filename, @monitoring_objectivity_ate.document11, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td{:colspan=>3}
          =f.text_area :notes, :cols => 120, :rows => 4

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td{:colspan=>3}
          .form-actions
            = f.submit @archive2021_ate_mark.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}