-if @archive2021_ate_marks.count > 20
  .apple_pagination
    = will_paginate @archive2021_ate_marks

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ous.id")
    %th= t("archive2021_ate_marks.mouo")
    -if current_user.admin?
      %th= t("archive2021_ate_marks.user")
    %th= t("archive2021_ate_marks.marks")
    %th= t("archive2021_ate_marks.sum_marks")
    %th= t("archive2021_ate_marks.status")
    -if current_user.admin?
      %th= t("archive2021_ate_marks.created_at")
      %th= t("archive2021_ate_marks.updated_at")
    %th= t("ous.actions.title")
  %tbody
    - @archive2021_ate_marks.each do |row|
      %tr
        -if current_user.admin?
          %td= row.id.to_s
        %td= row.archive2021_ate.mouo.name
        %td= row.user.first_name
        %td
          =row.mark01
          =row.mark02
          =row.mark03
          =row.mark04
          =row.mark05
          =row.mark06
          =row.mark07
          =row.mark08
          =row.mark09
          =row.mark10
          =row.mark11
        %td
          =row.mark01 + row.mark02 + row.mark03 + row.mark04 + row.mark05 + row.mark06 + row.mark07 + row.mark08 + row.mark09 + row.mark10 + row.mark11
        %td
          -if row.status == 1
            ="Завершена"
          -else
            ="В работе"
        -if current_user.admin?
          %td= row.created_at.strftime("%d.%m.%Y\u00a0%H:%M")
          %td= row.updated_at.strftime("%d.%m.%Y\u00a0%H:%M")
        %td
          - if can? :edit, row
            = link_to edit_archive2021_ate_mark_path(row) do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          - if can? :destroy, row
            = link_to archive2021_ate_mark_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"
          =""

-if @archive2021_ate_marks.count > 20
  .apple_pagination
    = will_paginate @archive2021_ate_marks