-require 'roo'

-file=params[:ates_import]['file']

%h2
  = "Импорт АТЕ из Excel-файла :: "
  = file.original_filename
  = " ::"

-xlsx = Roo::Spreadsheet.open(file.tempfile)
-#%p Проверка формата файла
-#%p= xlsx.info
-if xlsx.sheets.count == 1
  -if xlsx.sheet(0).last_row > 1
    -if xlsx.sheet(0).last_column == 2
      - if xlsx.sheet(0).row(1)[0] == 'Код АТЕ' and xlsx.sheet(0).row(1)[1] == 'Наименование АТЕ'
        %p Все правила для файла проверены. Начинается импорт.
        -i = 1
        -while i<xlsx.sheet(0).last_row
          -i = i + 1
          -@imp = Ate.new
          -@imp.code = xlsx.sheet(0).row(i)[0]
          -@imp.name = xlsx.sheet(0).row(i)[1]
          -if !@imp.code.nil? and !@imp.name.nil?
            -@imp.save
            %p
              = "Загружена строка №"
              = i.to_s
              = ". АТЕ код "
              = xlsx.sheet(0).row(i)[0]
              = ", наименование "
              = xlsx.sheet(0).row(i)[1]
              = ". "
          -else
            %p
              = "В строке №"
              = i.to_s
              = " что-то не заполнено."

      -else
        %p Заголовки не соответствуют формату загрузки сведений об АТЕ (code, name).
    -else
      %p В файле не 2 столбца.
  -else
    %p В файле менее 2 строк.
-else
  %p В файле не 1 лист.
