%h1 Импорт АТЕ из Excel-файла
%p
  Помните: следует загружать только таблицы, соответствующие формату выгрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели АТЕ.
  %li Файл должен быть Excel, при этом содержать только столбцы code и name.
  %li При выполнении этих требований, файл может быть импортирован.
%h5 Выберите файл
= form_for @ates_import do |f|
  - if @ates_import.errors.any?
    = pluralize(@ates_import.errors.count, "error")
    защита от неверного импорта таблиц.
    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @ates_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("Import File")