.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h2.text-center=t("devise.passwords.edit.change_my_password")
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: t("activerecord.attributes.user.password")
        - if @minimum_password_length
          %p.text-muted
            %small
              -# = @minimum_password_length
              = t('devise.shared.minimum_password_length.title', count: @minimum_password_length)
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t("devise.passwords.edit.confirm_new_password")
      .form-group
        = f.submit t("devise.passwords.edit.change_my_password"), class: 'btn btn-primary btn-block btn-lg'
    .text-center
      = render "devise/shared/links"
