%footer.footer.text-muted.bg-light
  .container
    %span
      © #{Date.today.year} РЦОИ и ОКО
    %ul.list-inline.mb-0.float-right
      %li.list-inline-item.mr-3= link_to t("navigation.help"), help_path
      %li.list-inline-item.mr-3= link_to t("navigation.privacy"), privacy_path
