- if user_masquerade?
  .alert.alert-warning.text-center
    You're logged in as
    %b
      = current_user.name
      (#{current_user.email})
    = link_to back_masquerade_path(current_user) do
      = icon("fas", "times")
      Logout
%nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container
    = link_to "Мониторинг", root_path, class: "navbar-brand"
    %button.navbar-toggler{"aria-controls" => "navbarsExample04", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMain", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarMain.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-md-0
      %ul.navbar-nav
        %li.nav-item= link_to t("navigation.announcements"), announcements_path, class: "nav-link #{unread_announcements(current_user)}"
        - if user_signed_in?
          -#%li.nav-item
          -#  = link_to notifications_path, class: "nav-link" do
          -#    %span
          -#      %i.far.fa-bell{"aria-hidden" => "true"}
          %li.nav-item.dropdown
            = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
              = bootstrap_icon "graph-up", width: 15, height: 15, fill: "green"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              - if current_user.admin? or current_user.mouo_role? or current_user.ous_role?
                = link_to t("navigation.monitoring_objectivity_ous"), monitoring_objectivity_ous_path, class: "dropdown-item"
              - if current_user.admin? or current_user.mouo_role?
                = link_to t("navigation.monitoring_objectivity_ates"), monitoring_objectivity_ates_path, class: "dropdown-item"
              - if current_user.admin? or current_user.expert_role?
                = link_to t("navigation.objectivity_ate_marks"), objectivity_ate_marks_path, class: "dropdown-item"
              - if current_user.admin? or current_user.expert_role?
                = link_to t("navigation.objectivity_ou_marks"), objectivity_ou_marks_path, class: "dropdown-item"
          %li.nav-item.dropdown
            = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
              = bootstrap_icon "collection", width: 15, height: 15, fill: "green"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              - if current_user.admin? or current_user.mouo_role? or current_user.ous_role?
                = link_to t("navigation.archive2021_ous"), archive2021_ous_path, class: "dropdown-item"
              - if current_user.admin? or current_user.mouo_role?
                = link_to t("navigation.archive2021_ates"), archive2021_ates_path, class: "dropdown-item"
              - if current_user.admin? or current_user.expert_role?
                = link_to t("navigation.archive2021_ate_marks"), archive2021_ate_marks_path, class: "dropdown-item"
              - if current_user.admin? or current_user.expert_role?
                = link_to t("navigation.archive2021_ou_marks"), archive2021_ou_marks_path, class: "dropdown-item"
          %li.nav-item.dropdown
            = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
              = bootstrap_icon "tools", width: 15, height: 15, fill: "green"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              = link_to t("navigation.ates"), ates_path, class: "dropdown-item"
              = link_to t("navigation.mouos"), mouos_path, class: "dropdown-item"
              = link_to t("navigation.ous"), ous_path, class: "dropdown-item"
          %li.nav-item.dropdown
            = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
              -if !avatar_path(current_user).nil?
                = image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded"
              -else
                = bootstrap_icon "user", width: 15, height: 15, fill: "blue"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              - if current_user.admin? && respond_to?(:admin_root_path)
                = link_to t("navigation.admin_area"), admin_root_path, class: "dropdown-item"
              = link_to t("navigation.settings"), edit_user_registration_path, class: "dropdown-item"
              .dropdown-divider
              = link_to t("navigation.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item"
        - else
          -#%li.nav-item= link_to t("navigation.signup"), new_user_registration_path, class: "nav-link"
          %li.nav-item= link_to t("navigation.login"), new_user_session_path, class: "nav-link"
