%div
  %p
    %strong Мониторинговая система
  %p
    %strong Руководство пользователя
  %p (версия от 21.03.2021)
  %p Екатеринбург, 2021
  %p © РЦОИ и ОКО, 2021
  %h1 Данные о системе
  %p
    Система расположена в сети Интернет по адресу
    = succeed "," do
      %a{:href => "https://monitor.gia66.ru"} https://monitor.gia66.ru
  %p Система предназначена для сбора информации по мониторингам, проведения оценки (экспертизы) собранной информации и статистической обработке результатов мониторингов (в том числе, представление результатов экспертизы, выстраивание рейтингов и др.).
  %h1 Администрирование системы
  %p Администрирование системы выполняется сотрудниками РЦОИ и ОКО, все права пользователей ограничены сферой их влияния/деятельности.
  %p Создание учётных записей, регистрация, указание связок между АТЕ, ОМСУ и образовательными организациями, осуществляется РЦОИ и ОКО.
  %p
    Для доступа в систему, следует обратиться к куратору или написать заявку на
    = succeed "." do
      %a{:href => "https://support.gia66.ru"} https://support.gia66.ru
  %h1 Вход в систему
  %p
    После перехода по адресу сайта, появляется окно-приглашение входа в систему:
  %p
    %img{:alt => "", :border => "0", :height => "178", :src => asset_path("help/image001.png"), :width => "323"}/
    %img{:alt => "", :border => "0", :height => "179", :src => asset_path("help/image002.png"), :width => "95"}/
  %p
    %strong> Рисунок №1
    \. Приглашение в систему.
  %p Слева – версия для настольного компьютера, справа – для мобильного телефона.
  %p Следует заполнить Email пользователя и полученный пароль. После чего нажать на кнопку «Войти». Функция «Забыли пароль?» временно отключена.
  %p После заполнения информации об аккаунте, следует нажать на «Войти».
  %p
    %img{:alt => "", :border => "0", :height => "43", :src => asset_path("help/image003.png"), :width => "399"}/
  %p
    %strong> Рисунок №2
    \. Информация о входе в систему и меню пользователя.
  %p После входа в систему появляется сообщение о входе в систему и меню пользователя.
  %h1 Меню пользователя
  %p Разберём подробно меню пользователя.
  %p
    Пункт меню «
    %strong> Что нового
    » (
    %img{:alt => "", :border => "0", :height => "17", :src => asset_path("help/image004.png"), :width => "81"}>/
    ) переводит к закладке, на которой публикуются объявления от РЦОИ.
  %p
    Пункт меню «Мониторинги» (
    %img{:alt => "", :border => "0", :height => "20", :src => asset_path("help/image005.png"), :width => "46"}>/
    )раскрывающийся, и при нажатии на стрелочку вниз (
    %img{:alt => "", :border => "0", :height => "17", :src => asset_path("help/image006.png"), :width => "21"}>/
    ) открывается список доступных к заполнению/просмотру для пользователя мониторингов.
  %p
    %img{:alt => "", :border => "0", :height => "63", :src => asset_path("help/image007.png"), :width => "283"}/
  %p
    %strong> Рисунок №3
    \. Раскрытый пункт «мониторинги»
  %p
    Пункт меню «Справочники/Настройки» (
    %img{:alt => "", :border => "0", :height => "20", :src => asset_path("help/image008.png"), :width => "46"}>/
    )раскрывающийся, и при нажатии на стрелочку вниз (
    %img{:alt => "", :border => "0", :height => "17", :src => asset_path("help/image006.png"), :width => "21"}>/
    ) открывается список доступных к заполнению/просмотру для пользователя настроек актуальной контактной информации.
  %p
    %img{:alt => "", :border => "0", :height => "112", :src => asset_path("help/image009.png"), :width => "210"}/
  %p
    %strong> Рисунок №4
    \. Раскрытый пункт «Справочники/Настройки»
  %p
    Пункт меню «Профиль» (
    %img{:alt => "", :border => "0", :height => "23", :src => asset_path("help/image010.png"), :width => "49"}>/
    )раскрывающийся, и при нажатии на стрелочку вниз (
    %img{:alt => "", :border => "0", :height => "17", :src => asset_path("help/image006.png"), :width => "21"}>/
    ) открывается список доступных к заполнению/просмотру для пользователя настроек собственного профиля, а также выхода из системы.
  %p
    %img{:alt => "", :border => "0", :height => "105", :src => asset_path("help/image011.png"), :width => "215"}/
  %p
    %strong> Рисунок №5
    \. Меню профиля пользователя
  %p Для выхода из системы по окончании работы, следует использовать меню Профиля, пункт «Выход».
  %h1 Профиль пользователя
  %p Профиль пользователя состоит из нескольких значимых пунктов:
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr
        %td{:width => "311"}
          %p
            %img{:alt => "", :border => "0", :height => "400", :src => asset_path("help/image012.png"), :width => "209"}/
        %td{:width => "311"}
          %p - Заголовок страницы
          %p - имя пользователя
          %p - email пользователя
          %p Аватар (пиктограмма пользователя)
          %p Пользователь может выбрать свою пиктограмму и после сохранения именно она будет отражаться вместо указанной на рисунке слева при открытии страниц.
          %p Внимание! Возможна задержка отображения, вызванная тем, что системе необходимо перекодировать аватар во внутренний формат.
          %p Пароль (следует оставить пустым, если нет необходимости его менять).
          %p Повтор пароля (для смены).
          %p Текущий пароль.
          %p Кнопка для сохранения изменений.
          %p Кнопка для отключения учётной записи.
  %p
    %strong> Рисунок №6
    \. Настройка профиля пользователя
  %p Пользователь с отключенной учётной записью не сможет больше войти в систему. Будьте осторожны, нажимая на данную кнопку. Использовать её следует только в случае изменения ответственного за информационный обмен.
  %h1 Интерфейс заполнения мониторингов
  %p Интерфейс страниц со списком мониторингов горизонтально поделен на 5 основных блоков (см. рисунок 7):
  %p 1) общее меню пользователя;
  %p 2) наименование мониторингов и доступные действия;
  %p 3) строка фильтров (поиск по коду или наименованию, фильтры с выбором из списка);
  %p 4) диаграмма заполнения мониторинга по отдельным позициям;
  %p 5) список заполненных анкет мониторингов (в конечном итоге, каждый пользователь должен иметь одну заполненную анкету по каждому из мониторингов)
  %p
    %img{:alt => "", :height => "37", :src => "missing.gif", :width => "39"}/
    %img{:alt => "", :height => "37", :src => "missing.gif", :width => "39"}/
    %img{:alt => "", :height => "37", :src => "missing.gif", :width => "39"}/
    %img{:alt => "", :height => "37", :src => "missing.gif", :width => "39"}/
    %img{:alt => "", :height => "37", :src => "missing.gif", :width => "39"}/
    %img{:alt => "", :height => "40", :src => asset_path("help/image042.png"), :width => "430"}/
    %img{:alt => "", :height => "19", :src => asset_path("help/image043.png"), :width => "430"}/
    %img{:alt => "", :height => "34", :src => asset_path("help/image044.png"), :width => "430"}/
    %img{:alt => "", :height => "22", :src => asset_path("help/image045.png"), :width => "430"}/
    %img{:alt => "", :height => "115", :src => asset_path("help/image046.png"), :width => "430"}/
    %img{:alt => "", :border => "0", :height => "257", :src => asset_path("help/image047.png"), :width => "429"}/
  %p
    %strong> Рисунок №7
    \. Интерфейс списков мониторингов
  %p Пиктограммы доступных действий с мониторингами:
  %p
    %img{:alt => "", :border => "0", :height => "21", :src => asset_path("help/image048.png"), :width => "18"}>/
     - создать новую анкету (если пользователь уже создавал анкету, то будет открыта уже созданная и продолжено её заполнение);
  %p
    %img{:alt => "", :border => "0", :height => "22", :src => asset_path("help/image049.png"), :width => "21"}>/
    \- экспортировать все анкеты в файл xlsx;
  %p
    %img{:alt => "", :border => "0", :height => "21", :src => asset_path("help/image050.png"), :width => "23"}>/
    \- импортировать анкету из файла xlsx.
  %p Пиктограммы доступных действий с отдельными анкетами:
  %p
    %img{:alt => "", :border => "0", :height => "30", :src => asset_path("help/image051.png"), :width => "27"}>/
     - редактировать анкету;
  %p
    %img{:alt => "", :border => "0", :height => "34", :src => asset_path("help/image052.png"), :width => "27"}>/
     - удаление анкеты.
  %p Пиктограммы доступных действий с диаграммой заполнения мониторинга по отдельным позициям:
  %p
    %img{:alt => "", :border => "0", :height => "27", :src => asset_path("help/image053.png"), :width => "30"}>/
     - скачать в виде изображения (появляется сверху справа внутри поля диаграммы при наведении курсора мыши на диаграмму).
  %p Фильтрация анкет производится по статусам («Завершена» или «В работе») и по административно-территориальным единицам.
  %p
    После выбора фильтров или введения кода/наименования организации, осуществлявшей заполнения, следует нажать на пиктограмму поиска (
    %img{:alt => "", :border => "0", :height => "19", :src => asset_path("help/image054.png"), :width => "20"}>/
    ).
  %h1 Интерфейс заполнения/редактирования анкеты
  %p В верхней части анкеты расположена адресная часть: респондент и непосредственный пользователь, заполнявший анкету, а также статус заполнения: «В работе» или «Завершена».
  %p
    %strong Внимание! К обозначенным срокам анкета должна быть в статусе завершена!
  %p
    %img{:alt => "", :border => "0", :height => "72", :src => asset_path("help/image055.png"), :width => "468"}/
  %p
  %p
    %strong> Рисунок №8
    \. Адресная часть анкеты в рамках мониторинга
  %p Ниже расположены сами вопросы, которые требуют ответа (заполнения).
  %p
    %img{:alt => "", :border => "0", :height => "88", :src => asset_path("help/image056.png"), :width => "468"}/
  %p
    %strong> Рисунок №9
    \. Ссылка на приказы (сами приказы)
    %br/
    с предварительным просмотром документа
  %p Пользователь может приложить приказ, в этом случае он при возможности будет отображаться с предварительным просмотром в поле документ, или просто названием со ссылкой:
  %p
    %img{:alt => "", :border => "0", :height => "51", :src => asset_path("help/image057.png"), :width => "468"}/
  %p
    %strong> Рисунок №10
    \. Ссылка на приказы (сами приказы)
    %br/
    со ссылкой приказа для скачивания
  %p Если ссылка ещё не заполнялась, то она будет выглядеть просто «-», как на рисунке 11, и для её заполнения, следует щёлкнуть по «прочерку.
  %p
    %img{:alt => "", :border => "0", :height => "56", :src => asset_path("help/image058.png"), :width => "466"}/
  %p
    %strong> Рисунок №11
    \. Ссылка на приказы (сами приказы)
    %br/
    со ссылкой приказа для скачивания
  %p Внизу страницы расположены кнопки «Сохранить» для сохранения всех изменений и «Отменить» для отмены изменений.
  %p Обратите внимание на изменение ссылок! Изменение ссылок производится «на лету», без необходимости сохранения, но в то же время, для сохранения документов, требуется выполнить команду сохранения внизу страницы.
  %p Если документ загружен ошибочно и его нужно удалить, следует воспользоваться специальным флажком «Удалить файл»:
  %p
    %img{:alt => "", :border => "0", :height => "55", :src => asset_path("help/image059.png"), :width => "468"}/
  %p
    %strong> Рисунок №12
    \. Флажок «Удалить файл»
  %p и выполнить сохранение внизу страницы. Файл будет удалён.
  %p Обратите внимание: при наличии ссылки на опубликованный в общем доступе документ, не следует загружать файл, это показатель открытости учреждений.
  %h1 Интерфейс экспорта анкет
  %p
    В верхней части меню мониторингов находится кнопка экспорта
    = succeed "\u{434}\u{43e}\u{43a}\u{443}\u{43c}\u{435}\u{43d}\u{442}\u{43e}\u{432}" do
      %img{:alt => "", :border => "0", :height => "22", :src => asset_path("help/image049.png"), :width => "21"}/
  %p
    %img{:alt => "", :border => "0", :height => "194", :src => asset_path("help/image060.png"), :width => "269"}/
  %p
    %strong> Рисунок №13
    \. Выбор действия с выгружаемым файлом
    %br/
    в браузере Firefox в операционной системе Ububntu
  %p При этом браузер предложит пользователю открыть или сохранить анкету, конкретный диалог зависит от браузера и его настроек.
  %p Экспортируемый файл может стать «заготовкой» для импорта ссылок на анкеты. Импорт файлов с документами невозможен.
  %h1 Импорт ссылок / анкет
  %p
    В верхней части меню мониторингов находится кнопка импорта
    = succeed "\u{434}\u{43e}\u{43a}\u{443}\u{43c}\u{435}\u{43d}\u{442}\u{43e}\u{432}" do
      %img{:alt => "", :border => "0", :height => "21", :src => asset_path("help/image050.png"), :width => "23"}/
  %p При этом следует учитывать, что файла с анкетой должен содержать 1 лист и располагаться так, как было при выгрузке файла с анкетой. Удалять/добавлять строки и т.п. в выгруженном файле для последующей загрузки недопустимо.
  %p Импорт анкеты происходит в два этапа:
  %p - сначала выбирается файл;
  %p - затем производится импорт.
  %p 1. Выбор файла.
  %p На странице расположены требования к импортируемому файлу: какие данные в файле следует проверить до импорта.
  %p
    %img{:alt => "", :border => "0", :height => "148", :src => asset_path("help/image061.png"), :width => "467"}/
  %p
    %strong> Рисунок №14
    \. Страница выбора файла для импорта
  %p На странице импорта файла следует выбрать подходящий файл, для чего нажать на кнопку «Выбрать файл» внизу страницы слева (см. рисунок 14).
  %p После выбора файла стандартным диалогом операционной системы, наименование файла появляется правее выбора, и появляется возможность провести импорт.
  %p
    %img{:alt => "", :border => "0", :height => "34", :src => asset_path("help/image062.png"), :width => "203"}/
  %p
    %strong> Рисунок №15
    \. Страница выбора файла для импорта
  %p 2. Импорт файла
  %p После нажатия на импорт, и в случае его успеха, будут перечислены все загружаемые ссылки.
  %p
    %img{:alt => "", :border => "0", :height => "110", :src => asset_path("help/image063.png"), :width => "448"}/
  %p ……
  %p
    %img{:alt => "", :border => "0", :height => "46", :src => asset_path("help/image064.png"), :width => "448"}/
    = succeed "." do
      %strong Рисунок №16
  %p При невозможности импорта, невозможности определить адресат импорта и других ошибках, система старается предотвратить появление недостоверной информации и не производит импорт анкеты.
  %p Например, в случае, как на рисунке 17.
  %p
    %img{:alt => "", :border => "0", :height => "88", :src => asset_path("help/image065.png"), :width => "467"}/
  %p
  %p
    %strong> Рисунок №17
    \. Ошибка импорта – в файле более 1 листа
  %p Обращаем Ваше внимание, что импорт не обновляет имеющуюся анкету, а обязательно создаёт новую. Так как в конечном итоге анкета должна остаться одна, вам следует удалить устаревшую анкету (а возможно, перезалить расположенные в ней документы).
  %h1 Техническая поддержка и создание заявки
  %p
    Для получения технической помощи следует создать заявку на техпортал РЦОИ и ОКО (
    %a{:href => "https://support.gia66.ru"}> https://support.gia66.ru
    ).
  %p Для этого скопируйте адрес и адресной строки и сделайте скриншот действий, непосредственно перед появлением ошибки.
  %p При создании заявки укажите тему "Мониторинг: ..." и далее краткое содержание ваших действий.
  %p
    Хорошая заявка выглядит так:
    = succeed "." do
      %em "Мониторинг: ошибка при добавлении анкеты по объективности"
  %p
    %em При выполнении действий по адресу https://monitor.gia66.ru/monitoring_objectivity_ ates_imports/new не выбрал файл. После нажатия на кнопку "Импорт файла" произошла ошибка.
  %p Заявка должна отвечать на вопросы:
  %p - где появилась ошибка;
  %p - у кого появилась ошибка;
  %p - при каких условиях.
  %p При создании содержательной заявки, ответ на неё будет дан достаточно быстро.
  %p Файл будет дополняться и изменяться при необходимости.
  %p Актуальная версия файла расположена в разделе «Руководство пользователя»
  %p
    По адресу
    %a{:href => "https://monitor.gia66.ru/help"} https://monitor.gia66.ru/help