-if !user_signed_in?
  %html
    %head
      %title Мониторинг показателей качества
    %body.lead
      .container
        .row
          .col-sm-6.col-md-4.col-md-offset--20
            .account-wall
              %h1.text-center Войти
              %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
                %input{:name => "authenticity_token", :type => "hidden", :value => "ZV8ACWBrWHh24f_VnudpqNXdibNsQ-Sb56PyPwb3Fk58LjzeKPYnuow71qLpp9pAjKRvKCoN5H26NKwqRM_Bcw"}/
                .form-signin
                  %input#user_email.form-control{:autofocus => "autofocus", :name => "user[email]", :placeholder => "Email", :type => "email", :value => ""}/
                .form-signin
                  %input#user_password.form-control{:autocomplete => "off", :name => "user[password]", :placeholder => "Пароль", :type => "password"}/
                  .form-check
                    %label.form-check-label
                      %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
                      %input#user_remember_me.form-check-input{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
                      Запомнить меня
                .form-signin
                  %input.btn.btn-primary.btn-block.btn-lg{"data-disable-with" => "Войти", :name => "commit", :type => "submit", :value => "Войти"}/
              .text-center
                %a{:href => "/users/password/new"} Забыли пароль?
                %br/
-else
  %html
    %head
      %title Мониторинг показателей качества
    %body.lead
      %h1=t("Добро пожаловать")
      .card
        .card-body
          %div=t('Exciting stuff coming very soon!')
