%h5="Меняем пароли всем школам"

-prilagat = ['абсолютный', 'адский', 'азартный', 'активный', 'ангельский', 'антагонистический', 'арктический', 'астрономический', 'баснословный', 'безапелляционный', 'безбожный', 'безбрежный', 'безвозвратный', 'безграничный', 'бездонный', 'бездушный', 'безжалостный', 'беззаветный', 'беззастенчивый', 'безмерный', 'безмятежный', 'безнадежный', 'безоговорочный', 'безотлагательный', 'безраздельный', 'безрассудный', 'безропотный', 'безудержный', 'безукоризненный', 'безумный', 'безупречный', 'безусловный', 'безустанный', 'безутешный', 'безысходный', 'белоснежный', 'бескомпромиссный', 'бесконечный', 'беспардонный', 'бесповоротный', 'беспощадный', 'беспредельный', 'беспрекословный', 'беспрецедентный', 'беспримерный', 'беспробудный', 'беспроглядный', 'беспросветный', 'беспросыпный', 'бессовестный', 'бесстыдный', 'бесценный', 'бесчеловечный', 'бесчисленный', 'бесшабашный', 'бешеный', 'блестящий', 'богатый', 'богатырский', 'большой', 'буйный', 'бурный', 'варварский', 'великий', 'величайший', 'веский', 'весомый', 'внушительный', 'возмутительный', 'волчий', 'вопиющий', 'восторженный', 'впечатляющий', 'всемерный', 'всепоглощающий', 'всесильный', 'всесторонний', 'всяческий', 'выдающийся', 'вылитый', 'высокий', 'высший', 'галопирующий', 'гибельный', 'гигантский', 'глубокий', 'глубочайший', 'глухой', 'головокружительный', 'гомерический', 'горький', 'горючий', 'горячий', 'грандиозный', 'гробовой', 'грозный', 'громадный', 'громкий', 'громоподобный', 'грубый', 'густой', 'диаметральный', 'дивный', 'дикий', 'добрый', 'доскональный', 'дотошный', 'дремучий', 'душераздирающий', 'дьявольский', 'жаркий', 'жгучий', 'железный', 'жесткий', 'жестокий', 'жесточайший', 'живой', 'животный', 'жизненный', 'жуткий', 'завзятый', 'завидный', 'закадычный', 'заклятый', 'законченный', 'закоренелый', 'замечательно', 'замечательный', 'записной', 'запредельный', 'заядлый', 'звериный', 'зверский', 'зеленый', 'злой', 'злостный', 'значительный', 'идеальный', 'излишний', 'изрядный', 'изуверский', 'изумительный', 'исключительный', 'исполинский', 'исступленный', 'истинно', 'истинный', 'истовый', 'истошный', 'исчерпывающий', 'каменный', 'кардинальный', 'катастрофический', 'категорический', 'клятвенный', 'колоссальный', 'коренной', 'космический', 'крайний', 'крепкий', 'кристальный', 'кричащий', 'кровный', 'кромешный', 'круглый', 'крупный', 'крутой', 'леденящий', 'лошадиный', 'лютый', 'максимальный', 'массовый', 'маститый', 'матерый', 'махровый', 'мертвенно', 'мертвенный', 'мертвецкий', 'мертвый', 'мировой', 'могильный', 'могучий', 'молниеносный', 'мощный', 'мучительный', 'набитый', 'наглый', 'наглядный', 'надежный', 'надрывный', 'наибольший', 'наивысший', 'нарочитый', 'настоятельный', 'настоящий', 'насущный', 'небывалый', 'невероятный', 'невиданный', 'невозможный', 'невообразимый', 'невосполнимый', 'невыносимый', 'невыразимый', 'недопустимый', 'недосягаемый', 'недюжинный', 'незабываемый', 'незаурядный', 'неземной', 'неизбывный', 'неизмеримый', 'неимоверный', 'неиссякаемый', 'неистовый', 'неистощимый', 'неистребимый', 'неисходный', 'неисчерпаемый', 'неисчислимый', 'немаловажный', 'немалый', 'немилосердный', 'немой', 'немыслимый', 'ненасытный', 'необоримый', 'необузданный', 'необыкновенный', 'необычайный', 'неограниченный', 'неодолимый', 'неописуемый', 'неопровержимый', 'неоспоримый', 'неотразимый', 'неоценимый', 'непередаваемый', 'непереносимый', 'непобедимый', 'неповторимый', 'непогрешимый', 'неподдельный', 'непоколебимый', 'непомерный', 'непоправимый', 'непостижимый', 'непревзойденный', 'непреоборимый', 'непреодолимый', 'непререкаемый', 'непримиримый', 'непробиваемый', 'непробудный', 'непроглядный', 'непролазный', 'непроходимый', 'неразрывный', 'нерасторжимый', 'несгибаемый', 'несказанный', 'неслыханный', 'несметный', 'несмолкаемый', 'несмываемый', 'несокрушимый', 'несравненный', 'нестерпимый', 'несусветный', 'неудержимый', 'неуемный', 'неуклонный', 'неукоснительный', 'неукротимый', 'неумеренный', 'неустанный', 'неусыпный', 'неутешный', 'неутолимый', 'неутомимый', 'нечеловеческий', 'нешуточный', 'нещадный', 'обильный', 'обложной', 'образцовый', 'оглушительный', 'огромный', 'ожесточенный', 'олимпийский', 'ослепительный', 'ослиный', 'основательный', 'остервенелый', 'острый', 'отборный', 'откровенный', 'открытый', 'отличный', 'отменный', 'отпетый', 'отчаянный', 'отъявленный', 'ошеломляющий', 'панический', 'патологический', 'первейший', 'первоклассный', 'первый', 'пламенный', 'плотный', 'площадной', 'повальный', 'поголовный', 'подавляющий', 'подлинный', 'подчеркнутый', 'полнейший', 'полный', 'поразительный', 'порядочный', 'последний', 'потрясающий', 'предельный', 'преклонный', 'преступный', 'приличный', 'принципиальный', 'прирожденный', 'прожженный', 'проливной', 'пронзительный', 'пронизывающий', 'прямой', 'пущий', 'пьянящий', 'рабский', 'радикальный', 'разгромный', 'раздирающий', 'разительный', 'разящий', 'райский', 'ревностный', 'революционный', 'редкий', 'редкостный', 'резкий', 'рекордный', 'решительный', 'рьяный', 'сатанинский', 'сверхчеловеческий', 'сверхъестественный', 'свинцовый', 'свирепый', 'седой', 'сердитый', 'серьезный', 'сильный', 'сказочно', 'сказочный', 'слепой', 'смертельный', 'смертный', 'сногсшибательный', 'собачий', 'совершеннейший ', 'совершенный', 'сокрушительный', 'солидный', 'сплошной', 'стальной', 'стоический', 'стойкий', 'стопроцентный', 'страстный', 'страшный', 'строгий', 'строжайший', 'сумасшедший', 'суровый', 'существенный', 'сущий', 'твердый', 'телячий', 'титанический', 'тотальный', 'трескучий', 'триумфальный', 'тяжелый', 'тяжкий', 'убедительный', 'убежденный', 'убийственный', 'уважительный', 'удивительный', 'ужасающий', 'ужасный', 'умопомрачительный', 'уничтожающий', 'фанатический', 'фанатичный', 'фантастический', 'феноменальный', 'филигранный', 'форменный', 'фундаментальный', 'хороший', 'царский', 'цепенящий', 'черный', 'чертов', 'чертовский', 'чистый', 'чрезвычайный', 'чрезмерный', 'чудовищный', 'широкий', 'широкомасштабный', 'шквальный', 'штормовой', 'шумный', 'щедрый', 'щемящий', 'экстраординарный', 'экстремальный', 'ювелирный', 'ядреный', 'яркий', 'яростный', 'ярый']
-sush=['капитан','лесник','товарищ','пароход','мороз','иней','планетарий','мальчик','муравей','город','сундук','человек','ветер','хлеб','голос','холод','технолог','военный','рабочий','связной','ябеда','забияка','импресарио','рефери','шансонье','конферансье','портье','атташе','какаду','зебу','кенгуру','пони','город','остров','журнал','ветер', 'папа','сын','дедушка','внук','брат','дядя','юноша','старшина','слуга','судья','табель','толь','тюль','рельс','рояль','шампунь','пальто','драже','боа','такси', 'пижон','критик','ягненок','пингвин','сержант','кузен','архитектор','генерал','свидетель','комик','машинистка','дебошир','анархист','дельфин','император','финансист','великан','гражданин','носорог','самогонщик','попугай','наркоман','урядник','скептик','дальтоник','удав','драчун','сыщик','искусствовед','капиталист','болонка','горнист','бродяга','одуванчик','щегол','педагог','валютчик','женщина','жокей','мышонок','хирург','козленок','механик','натурщик','грызун','безбожник','игрок','кузнец','ювелир','меланхолик','взяточник','ветеран','мальчик','закройщик','снайпер','клиент','целитель','спонсор','бегемот','спекулянтка','рисовод','революционер','молодец','жрец','бакалавр','нефтяник','змеелов','полярник','поручик','лыжник','гимназист','рядовой','сторож','директор','эмпирик','ректор','мудрец','адмирал','кутила','монарх','глашатай','уборщик','диспетчер','лекарь','атаман','рыболов','интриган','фабрикант','грешник','паломник','префект','борец','двурушник','хлюпик','прозаик','дебютант','обезьяна','гений','социалист','археолог','лентяй','фазан','вольтижер','рысак','рекордсмен','терапевт','бизон','грузчик','школьник','космонавт','гусь','шатен','учитель','приемщик','продавец','эксцентрик','аквалангист','наводчик','сапожник','южанин','кардинал','дьякон','майор','воробей','секретарь','личность','кочегар','жук','шашист','выскочка','лицемер','бухгалтер','волк','змей','пионер','злодей','всадник','зубрила','блоха','сверчок','осьминог','виконт','тушканчик','кустарь','литератор','забор','стажер','зебра','обожатель','кадровик','ткачь','крестьянин','шаман','кощей','боярин','приятель','проводник','печник','баловень','учащийся','тенор','пастух','поросенок','пианист','фантаст','иностранец','клоун','главарь','племянник','фаворит','вратарь','канареец','врун','жеребенок','транжир','наездник','волкодав','абитуриент','географ','всезнайка','повар','падишах','алхимик','лидер','балерун','дракон','угодник','герцог','капельмейстер','органист','ворюга','экзаменатор','пошляк','гончар','приказчик','дурень','каракум','картежник','окулист','пленник','должник','стипендиат','сват','хуторянин','электрик','шурин','лакомка','фельдшер','жигуль','певец','ангел','ефрейтор','маршал','царевич','дармоед','удалец','бортинженер','кавалер','моряк','заказчик','спрут','плут','филин','правитель','флибустьер','курильщик','костоправ','мужик','артист','бычок','депутат','альпинист','потомок','рулевой','забавник','жнец','забулдыга','энтузиаст','воришка','логопед','интеллигент','маклер','частник','сталевар','методист','крикун','адвокат','бедуин','арбитр','кучер','князь','деверь','негр','пассажир','культурист','матрос','консьерж','гетман','буквоед','пенсионер','акробат','жандарм','партизан','щенок','медбрат','мичман','воевода','промышленник','горемыка','весельчак','шулер','ремонтник','громила','счетовод','библиотекарь','кладовщик','святоша','волейболист','истец','антиквар','таракан','хиромант','есаул','галантерейщик','наемник','звонарь','парикмахер','умник','геолог','наставник','глупец','медведь','капрал','инженер','оратор','чертенок','демагог','шпик','писатель','леший','шериф','дьячок','горшечник','городовой','оруженосец','заложник','мученик','грубиян','шимпанзе','турист','фокстерьер','денди','спаниель','строитель','бобер','трудящийся','пират','арестант','колхозник','техник','ямщик','инструктор','публицист','гигант','нытик','металлург','мельник','суженый','осел','лаборант','бегун','вдовец','тритон','покупатель','дипломат','алкоголик','пахарь','парнишка','абориген','чиновник','агроном','теневик','курсант','посредник','ябеда','прапорщик','пташка','пастух','велосипедист','герой','двоечник','астролог','режиссер','владелец','экстрасенс','горилла','агент','командир','художник','болван','арендатор','футболист','хитрец','министр','диктор','салака','замминистра','воспитатель','огородник','шпион','хомяк','гидра','реалист','пекарь','защитник','халтурщик','барсук','цапля','сенбернар','певунья','академик','житель','протестант','здоровяк','авиатор','вояка','биржевик','пчела','девушка','журналист','дирижер','прачка','поэт','отличник','шансонье','бедолага','насморк','хозяйка','враг','вожатый','канцлер','воин','деспот','чудак','донор','птичка','собутыльник','сварщик','койот','циклоп','джентльмен','обидчик','флегматик','специалист','чижик','гардеробщик','мотоциклист','мореход','тунеядец','принц','футурист','двойник','собачонка','упрямец','агитатор','массажистка','фанатик','курьер','смуглянка','девочка','снегурочка','виртуоз','тренер','гипнотизер','бармен','водолаз','ишак','сожитель','царь','иноземец','кузина','лихач','тихоня','мастер','гадюка','кобыла','хулиган','зимовщик','диссидент','меньшевик','суворовец','доярка','бабуля','дятел','трамвайщик','обманщик','актриса','овчарка','докладчик','кредитор','слесарь','столяр','эстет','доктор','бюрократ','стенографист','гусак','циркач','горлопан','пивовар','прабабушка','кондитер','дервиш','рыбачка','ботаник','любовник','швейцар','заведующая','судья','гость','баянист','фрезеровщик','химик','юморист','зяблик','бурундук','живчик','мужчина','гордячка','голкипер','прадедушка','саксофонист','зачинщик','сатирик','сурикат','яхтсмен','актер','злоумышленник','почтальон','духанщик','шкипер','гангстер','статс-дама','гуманист','аноним','ящер','верзила','пролетарий','возчик','моллюск','фигурист','дурочка','изверг','магистр','авантюрист','гном','мулатка','овечка','телефонистка','стрекоза','бульдог','выдра','экономист','боксер','сорока','вобла','гегемон','физик','лирик','фокусник','журавль','гомеопат','барабанщик','криминалист','губернатор','фортепьянщик','полузащитник','торгаш','мошенник','мухомор','леопард','ротмистр','жулик','летописец','бригадир','дрессировщик','ящур','изменник','червяк','патриций','вахмистр','трезвенник','боец','пехотинец','философ','блондинка','спортсменка','лодочник','питон','ковбой','биолог','разведчик','скрипач','музыкант','демократ','ремесленник','креветка','переплетчик','бацилла','жираф','бактерия','узник','живописец','аптекарша','манекен','репортер','зять','барин','модник','трактор','титан','душенька','дикобраз','домовой','раскольник','дяденька','гренадер','ревизор','юрист','шутник','плантатор','лисичка','килька','лейтенант','танкист','князь','фармацевт','лев','эльф','лягушка','жаворонок','жених','часовой','модельер','ищейка','бормотун','корнет','борзая','боцман','штангист','заика','радист','кошка','акционер','колдун','егерь','басмач','каскадер','ведьма','изувер','следователь','кенгуру','вождь','зайчик','гитарист','хищник','баламут','шмель','обжора','варвар','скворец','филателист','младенец','руководитель','бутерброд','селедка','вахтер','докер','водитель','пессимист','огурчик','сосед','рокер','грабитель','балбес','коршун','метрдотель','спрут','служащий','друг','барон','дилетант','султанша','черепаха','запевала','карлик','первоклассник','дуэлянт','динозавр']
-glagol=['кантует','запятнал','сполоснул','губит','отколотил','завинтил','находит','ворочает','дергает','оформляет','топчет','вручает','отнимает','шокирует','извлекает','клеит','вносит','приблизил','разлюбил','покидает','завлекает','оглядывает','издал','сооружает','громит','выпиливает','обнадежил','выкапывает','рожает','наперчил','посадил','делит','украл','помучил','отложил','втыкает','грабит','занумеровал','отрывает','создает','похвалил','обкорнал','волнует','именует','загребает','отпиливает','кусает','позорит','копает','заправил','заинтересовал','рифмует','буксирует','крепит','ударил','уплотняет','выигрывает','дубасит','позвал','рыхлит','вялит','усыпил','прорезал','заблокировал','заваривает','изумляет','встретил','наряжает','изнуряет','скупает','дробит','помиловал','беспокоит','затаил','исключает','толкает','хватает','потерял','заливает','отпугивает','разобрал','синит','зашивает','золотит','оскорбил','нянчит','заедает','получает','балует','гвоздит','изолирует','усиливает','вспугнул','сбагрил','затоптал','сохранил','выпорол','бацает','прошнуровал','взрывает','занял','отдубасил','шелушит','выводит','глушит','запекает','сторожит','чарует','обожает','заразил','обчистил','скушал','отдубасил','сманивает','урезает','вынимает','бомбардирует','удочерил','опозорил','прельстил','проутюжил','спугнул','закинал','взнуздал','смутил','поймал','цедит','прожарил','придумал','колотит','подгоняет','вызывает','выключает','роет','механизирует','сцапал','вытирает','ославил','выламывает','полюбил','раззадорил','взвинтил','тискает','опозорил','присвоил','задвигает','обворовал','закрасил','защитил','пощадил','заглатывает','маскирует','подарил','слопал','поддел','ворует','поздравил','взнуздал','караулит','приласкал','помучил','доедает','открывает','слепил','подкатил','продал','путает','напугал','скрутил','склеивает','вопрошает','тасует','облучил','помотал','заарканил','вразумляет','унижает','навьючивает','режет','скушал','послал','починил','центрует','прокатил','обскакал','изливает','милует','заклевал','отмывает','истоптал','изгоняет','маринует','поцарапал','подкатил','изобличает','обхватил','обменял','варит','прихватил','умаляет','бреет','положил','уносит','отвлекает','втирает','стесняет','проглотил','вспарывает','стругает','начинил','оговорил','взбивает','ушиб','ужасает','одобрил','вышибает','озолотил','расколол','впрягает','забывает','кинул','оплатил','умножает','обул','ремонтирует','гоняет','сплавляет','обсудил','студит','разрезает','пленил','поселил','разжаловал','ошпарил','тушит','похвалил','учит','пронумеровал','вбивает','задувает','ссорит','осушает','поменял','поощрил','леденит','признал','всколыхнул','будоражит','обрисовал','выкрал','смял','протирает','заморозил','обкорнал','волочит','тешет','выследил','пудрит','лелеет','мучает','обокрал','порадовал','рубит','поругал','зарезал','излечивает','удаляет','вооружает','заламывает','выпускает','взбодрил','загубил','отдал','воплощает','обнюхал','сдабривает','молотит','сдвигает','настигл','повредил','заблокировал','воспитывает','умывает','достал','порадовал','опередил','извинил','ввинчивает','пытает','покрошил','субсидировал','понимает','выпекает','обновил','сфабриковал','сплетает','голубит','добивает','слышит','сворачивает','попарил','исцарапал','изменил','нарисовал','ловит','взрастил','разбавляет','извергает','подсушил','гнет','предал','обнял','инструктирует','жарит','затребовал','приютил','обрадовал','выплюнул','затмевает','шпыняет','выкидывает','разгладил','сотворяет','сломал','испаряет','обшарил','почесал','кружит','спасает','крутит','изымает','ободряет','дерет','рассердил','лягает','утруждает','подмазал','валяет','применил','вмял','холит','оценивает','отшлифовал','ласкает','отыскал','обронил','удлиняет','чернит','умоляет','терпит','прожарил','таранит','сметает','склонил','фотографирует','нумерует','рассмешил','щекочет','дразнит','срамит','убедил','защемил','проиграл','поверг','надрезал','воскрешает','угнетает','обмусолил','устраняет','околпачил','потащил','затворил','зашнуровал','пожимает','заверяет','уложил','издал','поймал','загадывает','откупорил','зашпаклевал','снимает','зацапал','смазал','проложил','анкетирует','видит','усылает','вылепил','замыкает','складирует','пускает','искажает','опередил','поборол','смочил','списал','сцапал','выжимает','приласкал','теряет','зажигает','бросает','мажет','тревожит','отравил','спугнул','держит','схватил','выровнял','знает','душит','засушил','украл','воображает','врезает','проветрил','кинул','скоблит','жует','оглушает','утаивает','вычесывает','повязал','сполоснул','заморозил','возмутил','шинкует','судит','добавляет','гасит','роняет','намыливает','обжимает','профильтровал','похитил','одевает','приутомил','форсирует','охватил','осуждает','впутывает','томит','подправил','требует','критикует','трясет','ковыряет','промывает','моет','облепил','упросил','топит','угощает','шьет','замазал','фиксирует','заплевал','ощупывает','исповедует','стегает','анонсирует','измял','моделирует','двигает','зацапал','похлопал','ранил','удивляет','смял','измучил','ваяет','расшевелил','забинтовал','хлестает','латает','бичует','сталкивает','залудил','рисует','строит','иссушил','клеймит','зондирует','баламутит','ставит','обирает','занял','травмирует','лечит','щиплет','настиг','дожал','схватил','смиряет','увлажняет','прищемил','засадил','одарил','гладит','терроризирует','ославил','поколотил','косит','имитирует','бодрит','посылает','изрубил','упоминает','надул','обижает','лепит','заковывает','поднимает','отшлифовал','архивирует','уродует','просверлил','склонил','теснит','вкусил','впечатлил','исцарапал','стыдит','шантажирует','смешит','коптит','вымогает','шлифует','обогатил','сварил','высушил','стимулирует','ошпарил','гофрирует','метит','изживает','оторвал','заразил','прощупал','оставил','вздернул','улучшает','рушит','истязает','ублажает','обескуражил','тянет','утешил','замял','фрезерует','подвесил','слезит','помял','приклеил','ломает','облепил','исправляет','футболит','обнимает','выносит','сотрясает','вылизывает','обделил','ошарашил','перчит','искривляет','отстраняет','озадачил','пожурил','прижал','слагает','омрачил','ошарашил','обнадежил','трет','всколыхнул','пощекотал','обобрал','брыкает','творит','благодарит','опошлил','облюбовал','поделил','кипятит','показывает','заказал','усыпил','усаживает','починил','сокращает','впечатлил','облизал','срывает','правит','обездолил','обольщает','обобрал','седлает','затыкает','срезает','полюбил','вкушает','замуровал','понянчил','донимает','побил','прозевал','одолел','омрачил','срубает','загибает','уничтожает','циклюет','постриг','считает','угробил','спонсировал','размазал','расчесал','умиляет','журит','обувает','жалит','надорвал','утоляет','оборачивает','терзает','наказал','зашвырнул','сливает','валит','заполняет','посолил','подмазал','интересует','потащил','грязнит','пошевелил','обозвал','шпигует','стащил','выхлопотал','хлопает','усваивает','процедил','применил','расчесал','выщипывает','слизывает','ужалил','увечит','тренирует','повалил','бесит','белит','укладывает','навестил','кормит','засылает','подтянул','чешет','рассердил','присвоил','спустил','вертит','жалеет','исследует','побаловал','вяжет','навестил','попарил','взломал','тормозит','лягнул','заряжает','ухудшает','атакует','пугает','взбесил','ссылает','устилает','ополоснул','нежит','зашнуровал','зрит','приобщил','причесал','приклеил','залепил','заштопал','агитирует','взламывает','ткет','излучает','обмазал','излагает','формирует','обыскал','интригует','обул','спеленал','стягивает','истребляет','буравит','консультирует','сушит','треплет','вминает','зарубил','выгрузил','гримирует','определяет','совращает','возвысил','доламывает','размазал','дрессирует','упрятал','забодал','повязал','зафаршировал','сбивает','взрастил','сформировал','пилит','прописал','нанизывает','обуздал','торопит','ранил','пачкает','поджарил','вправляет','заминировал','подарил','штопает','сосчитал','растрогал','поносит','освистал','может','говорит','хочет','видит','думает','делает','понимает','живёт','работает','стоит','идёт','считает','получает','сидит','становится','является','принимает','любит','отказывает','остаётся','пишет','кажется','называет','начинает','понимает','ждёт','выходит','следует','провожает','создаёт','решает','возвращает','использует','существует','слышит','может','находит']
-okonchanie=['барабан','ротмистра','рака','механизатора','юнгу','прыгуна','композитора','резидента','тихоню','кролика','бомбу','особняк','корову','гильзу','врача','сороку','ворюгу','тяпку','мулатку','кладовщицу','ревизора','шимпанзе','экономиста','биолога','бобра','отель','урядника','забияку','скрягу','пушку','змеелова','борца','дилетанта','шофера','бочку','скворца','инвестора','обожателя','пиджак','модницу','служанку','баржу','проныру','брата','кашу','жениха','библиотекаря','шарлатана','ягненка','каменщика','бездельника','казака','каланчу','щуку','певца','хлебопека','собачонку','шайтана','абитуриента','посредника','соседа','гладиатора','дятла','канительщика','репетитора','аборигена','дежурную','башмак','плакат','профана','бревно','сожителя','волка','кузнеца','динозавра','всадника','удава','жильца','педикюршу','богатыря','парашютиста','фикус','рыбу','хлюпика','журавля','кирпич','вояку','гранату','буржуя','поганку','футболиста','письмо','филателиста','быка','детектива','хозяйку','массажистку','ямщика','авианосец','грызуна','гусака','музыканта','детину','кассету','предка','домового','модистку','избранника','изверга','вожатого','сосну','поезд','кактус','барбоса','парнишку','брюзгу','кочевника','гаубицу','дикаря','окулиста','хитреца','бурундука','чертенка','садовника','донора','блин','павлина','связиста','медузу','узника','мальчика','искателя','мэра','русалку','перчатку','строителя','вахмистра','барсука','филина','ишака','зайца','холопа','мандарин','сэра','курильщика','заморыша','химика','изгородь','повидло','альпинистку','громилу','адвоката','плантатора','газель','энтузиаста','инструктора','самурая','рояль','крота','пивовара','дрозда','прадедушку','помощника','выдру','главаря','капельмейстера','штурмана','геркулеса','княжну','изменника','жадину','зверобоя','дьячка','кинжал','баскетболиста','штукатура','кавалера','зяблика','героя','соловья','художника','моржа','пеликана','критика','витязя','горниста','калитку','двоечника','публициста','зайчика','тестя','дьякона','лейтенанта','глухаря','дитя','шалуна','флибустьера','фараона','флегматика','устрицу','шурина','банщика','вдовца','всезнайку','пылесос','макаку','курсанта','жаворонка','фиалку','куртизанку','шутника','плясунью','пупсика','дельфина','игрока','мастера','змею','угодника','халат','булавку','гастролера','пловчиху','диссидента','полковника','волдырь','трезвенника','старичка','барина','воеводу','хищника','мужчину','горемыку','бойца','одуванчик','напильник','тяжеловеса','терапевта','лентяя','идеалиста','политика','прохвоста','антиквара','уточку','ректора','жабу','кутилу','мужика','бунтаря','агронома','яхтсмена','замминистра','велосипедиста','рокера','чушку','вибриона','вилку','практиканта','извилину','радугу','полузащитника','логопеда','рохлю','императора','деву','золовку','арбуз','смуглянку','мумию','падчерицу','лифтершу','кухарку','трюфель','аквалангиста','часового','львицу','крокодила','глыбу','каску','аспиранта','шута','столяра','репортера','гадалку','охранника','командира','креветку','кашне','чудака','дуэлянта','жвачку','афериста','халтурщика','аллигатора','дальтоника','сурка','пирата','портниху','бандита','гроссмейстера','лапоть','лилипута','анонима','судью','магистра','паука','металлурга','рюмку','медалиста','мудреца','казнокрада','демагога','сатирика','акционера','дышло','парикмахершу','жеребца','адмирала','шкаф','шалопая','слугу','швею','танкиста','прачку','яблоко','комсомолку','мышонка','жужелицу','снегурочку','арбитра','силача','сдобу','экзаменатора','чистюлю','енота','пчелу','разбойника','жителя','деспота','ягодку','пушинку','фрейлину','печенку','канарейку','дискету','гармониста','фортепьянщика','школьницу','абажур','формалиста','хрюшку','иволгу','лирика','варвара','ключ','стоматолога','десантника','ткачиху','разгильдяя','лаборанта','мямлю','кощея','царицу','лунатика','пантеру','браконьера','бумагу','певицу','шансонье','монтажника','учительницу','эрдельтерьера','пташку','агитатора','кулинара','печника','боярина','мафиози','тренера','кучера','мартышку','теневика','незабудку','специалиста','куклу','городового','палубу','брошку','акулу','крикуна','маляра','воспитателя','завхоза','помидор','истопника','дикобраза','окно','хоккеиста','кровельщика','гайку','приятеля','психолога','мышку','даму','гнома','поэта','сову','борова','декадента','педагога','псаломщика','башню','бурлака','акустика','тигра','плошку','стрекозу','гусеницу','бульдога','арестанта','затейника','физика','маркизу','дядю','негритянку','бармена','ассистента','собутыльника','интеллигента','правителя','кашалота','земледельца','подполковника','сосиску','женщину','гетмана','актера','барыню','отрока','шнурок','мошенника','журналиста','газосварщика','ножовку','пессимиста','донжуана','пограничника','ямку','грешника','партизана','гурмана','корнета','вратаря','лыжницу','сенбернара','кепку','токаря','пьяницу','скупца','лодку','графиню','кабана','жаровню','пистолет','свояка','домкрат','пасечника','тенора','фазана','гончара','пуделя','водку','кардинала','кузину','любовника','тюленя','эстета','сучок','фантаста','уклониста','сотрудника','мачеху','министра','кобылу','бутуза','иллюзиониста','гейшу','шпиона','забавника','щепку','доску','купчиху','обидчика','брюнета','розу','комбайнера','бутыль','плута','лодочника','офицера','мичмана','абонента','стамеску','баяниста','ласточку','джигита','сыроежку','интригана','яйцо','террориста','финансиста','делегата','веник','сыщика','пампушку','вора','баламута','капкан','хомут','подосиновик','дочку','криминалиста','майора','бритву','лихача','секретаршу','сержанта','арфиста','избушку','ефрейтора','носорога','гренадера','ремесленника','хомяка','якорь','рекордсмена','пленника','белку','кондитера','подлизу','гида','индюка','рукав','хиромантку','машинистку','маклера','шулера','бабочку','пень','юбку','гиганта','инспектора','беднягу','кенгуру','сарай','птичку','крупье','сталевара','галету','моллюска','падишаха','костоправа','сестру','витамин','кукушку','маршала','дачника','одеяло','молодца','телятницу','натурщицу','целителя','тулуп','забулдыгу','капиталиста','ковбоя','дерево','техника','царевну','писателя','тушканчика','наездницу','инфузорию','живчика','ворчуна','дворецкого','зеваку','оптимиста','злодея','пророка','жука','коршуна','овчарку','летописца','редактора','куму','калеку','губернатора','голкипера','ватрушку','частника','полярника','манекенщицу','вешалку','счетовода','умника','статс-даму','виконта','заступника','боцмана','прабабушку','дурня','чучело','дантиста','рессору','малыша','княгиню','искусствоведа','гондолу','архитектора','князя','пулю','пингвина','апельсин','инженера','карлика','колдуна','шмеля','пехотинца','рядового','волшебника','дубину','вампира','ведро','извозчика','паломника','органиста','фармацевта','ищейку','гребца','сваю','почтальона','здоровяка','есаула','режиссера','капрала','эрудита','заказчика','зачинщика','мотогонщика','наркомана','дыню','шкипера','бортинженера','курьера','хвастуна','гирю','балку','саксофониста','соплеменника','дармоеда','пряжку','дверь','авоську','сторожа','санитарку','монарха','франта','болонку','хулигана','пошляка','приказчика','слона','девчонку','шахматиста','футуриста','бригадира','врага','дракона','змея','девицу','философа','вымогателя','жнеца','валютчика','юношу','ботаника','беглеца','картежника','мага','бычка','задиру','крестьянку','муху','экстрасенса','осьминога','оленя','чемпиона','клушу','блоху','дистрофика','спонсора','наседку','рубль','хирурга','друга','червяка','попугая','людоеда','жандарма','взломщика','свата','бактерию','автора','чиновника','коновала','жертву','синяк','керосин','мельника','грушу','атамана','фаворита','дипломата','тетерева','самогонщика','джентльмена','товарища','фабриканта','гостя','мученика']

-rus_alf="абвгдеёжзийклмнопрстуфхцчшщъыьэюя"
-eng_ras="f,dult~;pbqrkvyjghcnea[wxio]sm'.z"

-@users=User.where("mouo_role = true or ous_role = true and admin = false").order("target_type ASC, target_id ASC")

%table.table-bordered.table-striped
  %thead
    %tr
      %th="Тип"
      %th="Код образовательной организации"
      %th="Логин"
      %th="Строка для запоминания"
      %th="Буквы"
      %th="В английской раскладке"
  %tbody
    -@users.each do |u|
      -f1 = prilagat[rand(prilagat.count-1)]
      -f2 = sush[rand(sush.count-1)]
      -f3 = glagol[rand(glagol.count-1)]
      -f4 = okonchanie[rand(okonchanie.count-1)]

      -pass_string = "#{f1} #{f2} #{f3} #{f4}"
      -pass_rus = "#{f1[0..2]}#{f2[0..2]}#{f3[0..2]}#{f4[0..2]}"
      -pass_enf = pass_rus

      -for i in 0..32
        -pass_enf = pass_enf.gsub(rus_alf[i], eng_ras[i])

      -u.password = pass_enf
      -u.save

      %tr
        %td=u.target_type
        %td=u.target_id
        %td=u.email
        %td=pass_string
        %td=pass_rus
        %td=pass_enf

