-require 'roo'

-if !params[:monitoring_objectivity_ous_import].nil?
  -file=params[:monitoring_objectivity_ous_import]['file']

-if !file.nil?
  %h2
    = "Импорт ссылок из Excel-файла :: "
    = file.original_filename

  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -@m = MonitoringObjectivityOu.new
  -@m.status_id = 0
  -@m.user_id = current_user.id
  -# -if !xlsx.sheet(0).row(4)[1].nil?


  -if current_user.ous_role? and !current_user.admin?
    -@m.ou_id = Ou.where(:code => current_user.target_id).first.id
    -@monitoring_objectivity_ous = MonitoringObjectivityOu.joins(:ou).where(" ous.code = #{current_user.target_id} ")
  -else
    -if Ou.where(:code => xlsx.sheet(0).row(4)[1]).count > 0
      -@m.ou_id = Ou.where(:code => xlsx.sheet(0).row(4)[1]).first.id

  - if current_user.ous_role? and !current_user.admin? and !@monitoring_objectivity_ous.nil?
    -if @monitoring_objectivity_ous.count > 0
      %p
        ="У вас уже есть заполненная анкета, в ней будут заменены ссылки на указанные в импортируемом файле."
        -@m=@monitoring_objectivity_ous.first

  - if @m.ou_id.nil?
    %p Не определена образовательная организация. Дальнейший импорт невозможен.
  - else
    -if xlsx.sheets.count == 1
      -if xlsx.sheet(0).last_row > 1
        - if xlsx.sheet(0).row(1)[0] == 'Мониторинг региональных показателей системы объективности процедур оценки качества образования и олимпиад школьников'
          %p Все правила для файла проверены. Начинается импорт.
          %p
            = "Образовательная организация:"
            = Ou.find(@m.ou_id).code
          -rr = 1
          -while rr <= 22
            -s= '%02i' % rr
            -if xlsx.sheet(0).row(8+(rr-1)*4)[0]== "#{rr}. #{t("monitoring_objectivity_ous.title#{s}")}"
              -@m.set_property("url#{s}", xlsx.sheet(0).row(9+(rr-1)*4)[1].to_s)
            -else
              %p= "Не найден пункт #{s}"
            -rr+=1
          -if @m.save
            -i = 0
            -while i<22
              -i = i + 1
              %p
                ="Ссылка №#{i}: "
                =@m.read_attribute("url" + ("00#{i}")[-2..-1])
          -else
            %p Ошибки формата ссылок. Импорт невозможен.
        -else
          %p Файл имеет неверный заголовок
      -else
        %p В файле менее 2 строк.
    -else
      %p В файле не 1 лист.
-else
  = "Импорт ссылок из Excel-файла :: "
  %p Файл не выбран

.form-actions
  = link_to t("buttons.cancel"), new_monitoring_objectivity_ous_import_path, :class => 'btn btn-primary btn-with-tooltip'
  = link_to t("buttons.to_list"), monitoring_objectivity_ous_path, :class => 'btn btn-primary btn-with-tooltip'