%body.lead
  .row
    -#.col-lg-4.col-md-6.ml-auto.mr-auto
    .col-sm-6.col-md-4.col-md-offset--20
      .account-wall
        %h1.text-center=t("devise.sessions.new.sign_in")
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          -#%form.form-signin
          .form-signin
            = f.email_field :email, autofocus: true, placeholder: t("activerecord.attributes.user.email"), class: 'form-control'
          .form-signin
            = f.password_field :password, autocomplete: "off", placeholder: t("activerecord.attributes.user.password"), class: 'form-control'
            - if devise_mapping.rememberable?
              .form-check
                %label.form-check-label
                  = f.check_box :remember_me, class: "form-check-input"
                  = t("activerecord.attributes.user.remember_me")
          .form-signin
            = f.submit t("devise.sessions.new.sign_in"), class: "btn btn-primary btn-block btn-lg"
        .text-center
          = render "devise/shared/links"
