%h4= t("mouos.actions.edit")
= form_for @mouo do |f|
  .form-group
    %table
      %tr
        %td= t("mouos.code")
        %td= f.number_field :code, autofocus: false, placeholder: t("mouos.code"), class: 'form-control'
      %tr
        %td= t("mouos.full_name")
        %td= f.text_field :name, autofocus: false, placeholder: t("mouos.name"), class: 'form-control'
      %tr
        %td= t("mouos.ate_full_name")
        %td= f.collection_select :ate_id, @ates, :id, :name, prompt: true, placeholder: t('mouo.choose_ate')
      %tr
        %td= t("mouos.contact_fio")
        %td= f.text_field :contact_fio, autofocus: false, placeholder: t("mouos.contact_fio"), class: 'form-control'
      %tr
        %td= t("mouos.contact_phone")
        %td= f.text_field :contact_phone, autofocus: false, placeholder: '+7-xxx-xxx-xxxx', class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @mouo.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}