-# -@id=params[:id]
%h1 Наименование проекта
%h2=@mouo.name.to_s
%table
  %tr
    %td=t("mouos.code")
    %td=@mouo.code.to_s
  %tr
    %td=t("mouos.full_name")
    %td=@mouo.name
%div
  = link_to "Вернуться", mouos_path, :class => "btn btn-primary btn-mini"