-if @ates.count > 20
  .apple_pagination
    = will_paginate @ates

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ates.id")
    %th= t("ates.code")
    %th= t("ates.full_name")
    -if current_user.admin?
      %th= t("ates.created_at")
      %th= t("ates.updated_at")
    -if current_user.admin? or current_user.mouo_role?
      %th= t("ates.actions.title")
  %tbody
    - @ates.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td= row.id.to_s
          %td= row.code.to_s
          %td= row.name.to_s
          -if current_user.admin?
            %td= row.created_at.to_s
            %td= row.updated_at.to_s
          -if current_user.admin? or current_user.mouo_role?
            %td
              - if can? :edit, Ate
                = link_to edit_ate_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Ate
                = link_to ate_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @ates.count > 20
  .apple_pagination
    = will_paginate @ates