%h4= t("monitoring_objectivity_ous.actions.edit")
- if @monitoring_objectivity_ou.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@monitoring_objectivity_ou.errors.count, "ошибок(ка)")
        = t('monitoring_objectivity_ous.errors.cant_saving')
      %ul
        - @monitoring_objectivity_ou.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("monitoring_objectivity_ous." + error.attribute.name)).gsub('Target', 'Образовательная организация').gsub('User', 'Пользователь')

= form_for @monitoring_objectivity_ou do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>2}
          = "Адресная часть"
      %tr
        %td=t('monitoring_objectivity_ous.ou_id')
        -if !current_user.ous_role? or current_user.admin?
          %td=f.collection_select :ou_id, @ous, :id, :to_s, prompt: true, placeholder: t('monitoring_objectivity_ous.choose_ou')
        -else
          =f.hidden_field :ou_id, :value => Ou.where(" code = #{current_user.target_id} ").first.id
          %td=Ou.where(" code = #{current_user.target_id} ").first.name
      %tr
        %td=t('monitoring_objectivity_ous.user_id')
        -if @monitoring_objectivity_ou.user_id.nil?
          -@monitoring_objectivity_ou.user_id = current_user.id
        =f.hidden_field :user_id, :value => current_user.id
        %td=User.find(@monitoring_objectivity_ou.user_id).first_name
      %tr
        %td=t('monitoring_objectivity_ous.status_id')
        %td=f.select :status_id, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_status')
      %tr
        %th{:colspan=>2}
          %hr
      %tr
        %th{:colspan=>2}
          %hr

      %tr
        %td{:colspan=>3}
          %h5=t("objectivity_ate_marks.notes")
          .field{"data-controller" => "rich-text-table"}
            =f.rich_text_area :notes

      -#%tr
      -#  %td{:colspan=>3}
      -#    =f.text_area :notes, :cols => 120, :rows => 4

      %tr
        %td{:colspan=>3}
          %hr



      -# раздел №1
      %tr
        %th{:colspan=>2}
          = "01. "
          = t('monitoring_objectivity_ous.title01')
      %tr
        %td= t('monitoring_objectivity_ous.url01')
        %td= best_in_place @monitoring_objectivity_ou, :url01, :as => :input
        -#%td= f.text_field :url01, autofocus: false, placeholder: t("monitoring_objectivity_ous.url01"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document01')
          = ": "
          - if @monitoring_objectivity_ou.document01.previewable?
            = link_to @monitoring_objectivity_ou.document01 do
              = image_tag @monitoring_objectivity_ou.document01.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document01.attached?
              = link_to @monitoring_objectivity_ou.document01.filename, @monitoring_objectivity_ou.document01
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document01, direct_upload: true
          = f.check_box(:delete_document01)
          = t("monitoring_objectivity_ous.delete_file")
      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №2
      %tr
        %th{:colspan=>2}
          = "02. "
          = t('monitoring_objectivity_ous.title02')
      %tr
        %td= t('monitoring_objectivity_ous.url02')
        -#%td= f.text_field :url02, autofocus: false, placeholder: t("monitoring_objectivity_ous.url02"), class: 'form-control'
        %td= best_in_place @monitoring_objectivity_ou, :url02, :as => :input
      %tr
        %td
          = t('monitoring_objectivity_ous.document02')
          = ": "
          - if @monitoring_objectivity_ou.document02.previewable?
            = link_to @monitoring_objectivity_ou.document02 do
              = image_tag @monitoring_objectivity_ou.document02.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document02.attached?
              = link_to @monitoring_objectivity_ou.document02.name, @monitoring_objectivity_ou.document02
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document02, direct_upload: true
          = f.check_box(:delete_document02)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №03
      %tr
        %th{:colspan=>2}
          = "03. "
          = t('monitoring_objectivity_ous.title03')
      %tr
        %td= t('monitoring_objectivity_ous.url03')
        %td= best_in_place @monitoring_objectivity_ou, :url03, :as => :input
        -#%td= f.text_field :url03, autofocus: false, placeholder: t("monitoring_objectivity_ous.url03"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document03')
          = ": "
          - if @monitoring_objectivity_ou.document03.previewable?
            = link_to @monitoring_objectivity_ou.document03 do
              = image_tag @monitoring_objectivity_ou.document03.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document03.attached?
              = link_to @monitoring_objectivity_ou.document03.name, @monitoring_objectivity_ou.document03
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document03, direct_upload: true
          = f.check_box(:delete_document03)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №04
      %tr
        %th{:colspan=>2}
          = "04. "
          = t('monitoring_objectivity_ous.title04')
      %tr
        %td= t('monitoring_objectivity_ous.url04')
        %td= best_in_place @monitoring_objectivity_ou, :url04, :as => :input
        -#%td= f.text_field :url04, autofocus: false, placeholder: t("monitoring_objectivity_ous.url04"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document04')
          = ": "
          - if @monitoring_objectivity_ou.document04.previewable?
            = link_to @monitoring_objectivity_ou.document04 do
              = image_tag @monitoring_objectivity_ou.document04.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document04.attached?
              = link_to @monitoring_objectivity_ou.document04.name, @monitoring_objectivity_ou.document04
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document04, direct_upload: true
          = f.check_box(:delete_document04)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №05
      %tr
        %th{:colspan=>2}
          = "05. "
          = t('monitoring_objectivity_ous.title05')
      %tr
        %td= t('monitoring_objectivity_ous.url05')
        %td= best_in_place @monitoring_objectivity_ou, :url05, :as => :input
        -#%td= f.text_field :url05, autofocus: false, placeholder: t("monitoring_objectivity_ous.url05"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document05')
          = ": "
          - if @monitoring_objectivity_ou.document05.previewable?
            = link_to @monitoring_objectivity_ou.document05 do
              = image_tag @monitoring_objectivity_ou.document05.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document05.attached?
              = link_to @monitoring_objectivity_ou.document05.name, @monitoring_objectivity_ou.document05
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document05, direct_upload: true
          = f.check_box(:delete_document05)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №06
      %tr
        %th{:colspan=>2}
          = "06. "
          = t('monitoring_objectivity_ous.title06')
      %tr
        %td= t('monitoring_objectivity_ous.url06')
        %td= best_in_place @monitoring_objectivity_ou, :url06, :as => :input
        -#%td= f.text_field :url06, autofocus: false, placeholder: t("monitoring_objectivity_ous.url06"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document06')
          = ": "
          - if @monitoring_objectivity_ou.document06.previewable?
            = link_to @monitoring_objectivity_ou.document06 do
              = image_tag @monitoring_objectivity_ou.document06.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document06.attached?
              = link_to @monitoring_objectivity_ou.document06.name, @monitoring_objectivity_ou.document06
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document06, direct_upload: true
          = f.check_box(:delete_document06)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №07
      %tr
        %th{:colspan=>2}
          = "07. "
          = t('monitoring_objectivity_ous.title07')
      %tr
        %td= t('monitoring_objectivity_ous.url07')
        %td= best_in_place @monitoring_objectivity_ou, :url07, :as => :input
        -#%td= f.text_field :url07, autofocus: false, placeholder: t("monitoring_objectivity_ous.url07"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document07')
          = ": "
          - if @monitoring_objectivity_ou.document07.previewable?
            = link_to @monitoring_objectivity_ou.document07 do
              = image_tag @monitoring_objectivity_ou.document07.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document07.attached?
              = link_to @monitoring_objectivity_ou.document07.name, @monitoring_objectivity_ou.document07
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document07, direct_upload: true
          = f.check_box(:delete_document07)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №08
      %tr
        %th{:colspan=>2}
          = "08. "
          = t('monitoring_objectivity_ous.title08')
      %tr
        %td= t('monitoring_objectivity_ous.url08')
        %td= best_in_place @monitoring_objectivity_ou, :url08, :as => :input
        -#%td= f.text_field :url08, autofocus: false, placeholder: t("monitoring_objectivity_ous.url08"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document08')
          = ": "
          - if @monitoring_objectivity_ou.document08.previewable?
            = link_to @monitoring_objectivity_ou.document08 do
              = image_tag @monitoring_objectivity_ou.document08.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document08.attached?
              = link_to @monitoring_objectivity_ou.document08.name, @monitoring_objectivity_ou.document08
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document08, direct_upload: true
          = f.check_box(:delete_document08)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №09
      %tr
        %th{:colspan=>2}
          = "09. "
          = t('monitoring_objectivity_ous.title09')
      %tr
        %td= t('monitoring_objectivity_ous.url09')
        %td= best_in_place @monitoring_objectivity_ou, :url09, :as => :input
        -#%td= f.text_field :url09, autofocus: false, placeholder: t("monitoring_objectivity_ous.url09"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document09')
          = ": "
          - if @monitoring_objectivity_ou.document09.previewable?
            = link_to @monitoring_objectivity_ou.document09 do
              = image_tag @monitoring_objectivity_ou.document09.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document09.attached?
              = link_to @monitoring_objectivity_ou.document09.name, @monitoring_objectivity_ou.document09
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document09, direct_upload: true
          = f.check_box(:delete_document09)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №10
      %tr
        %th{:colspan=>2}
          = "10. "
          = t('monitoring_objectivity_ous.title10')
      %tr
        %td= t('monitoring_objectivity_ous.url10')
        %td= best_in_place @monitoring_objectivity_ou, :url10, :as => :input
        -#%td= f.text_field :url10, autofocus: false, placeholder: t("monitoring_objectivity_ous.url10"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document10')
          = ": "
          - if @monitoring_objectivity_ou.document10.previewable?
            = link_to @monitoring_objectivity_ou.document10 do
              = image_tag @monitoring_objectivity_ou.document10.preview(resize_to_limit: [100, 100])
          - else
            -if @monitoring_objectivity_ou.document10.attached?
              = link_to @monitoring_objectivity_ou.document10.name, @monitoring_objectivity_ou.document10
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document10, direct_upload: true
          = f.check_box(:delete_document10)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №11
      %tr
        %th{:colspan=>2}
          = "11. "
          = t('monitoring_objectivity_ous.title11')
      %tr
        %td= t('monitoring_objectivity_ous.url11')
        %td= best_in_place @monitoring_objectivity_ou, :url11, :as => :input
        -#%td= f.text_field :url11, autofocus: false, placeholder: t("monitoring_objectivity_ous.url11"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document11')
          = ": "
          - if @monitoring_objectivity_ou.document11.previewable?
            = link_to @monitoring_objectivity_ou.document11 do
              = image_tag @monitoring_objectivity_ou.document11.preview(resize_to_limit: [110, 110])
          - else
            -if @monitoring_objectivity_ou.document11.attached?
              = link_to @monitoring_objectivity_ou.document11.name, @monitoring_objectivity_ou.document11
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document11, direct_upload: true
          = f.check_box(:delete_document11)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №12
      %tr
        %th{:colspan=>2}
          = "12. "
          = t('monitoring_objectivity_ous.title12')
      %tr
        %td= t('monitoring_objectivity_ous.url12')
        %td= best_in_place @monitoring_objectivity_ou, :url12, :as => :input
        -#%td= f.text_field :url12, autofocus: false, placeholder: t("monitoring_objectivity_ous.url12"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document12')
          = ": "
          - if @monitoring_objectivity_ou.document12.previewable?
            = link_to @monitoring_objectivity_ou.document12 do
              = image_tag @monitoring_objectivity_ou.document12.preview(resize_to_limit: [120, 120])
          - else
            -if @monitoring_objectivity_ou.document12.attached?
              = link_to @monitoring_objectivity_ou.document12.name, @monitoring_objectivity_ou.document12
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document12, direct_upload: true
          = f.check_box(:delete_document12)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №13
      %tr
        %th{:colspan=>2}
          = "13. "
          = t('monitoring_objectivity_ous.title13')
      %tr
        %td= t('monitoring_objectivity_ous.url13')
        %td= best_in_place @monitoring_objectivity_ou, :url13, :as => :input
        -#%td= f.text_field :url13, autofocus: false, placeholder: t("monitoring_objectivity_ous.url13"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document13')
          = ": "
          - if @monitoring_objectivity_ou.document13.previewable?
            = link_to @monitoring_objectivity_ou.document13 do
              = image_tag @monitoring_objectivity_ou.document13.preview(resize_to_limit: [130, 130])
          - else
            -if @monitoring_objectivity_ou.document13.attached?
              = link_to @monitoring_objectivity_ou.document13.name, @monitoring_objectivity_ou.document13
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document13, direct_upload: true
          = f.check_box(:delete_document13)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №14
      %tr
        %th{:colspan=>2}
          = "14. "
          = t('monitoring_objectivity_ous.title14')
      %tr
        %td= t('monitoring_objectivity_ous.url14')
        %td= best_in_place @monitoring_objectivity_ou, :url14, :as => :input
        -#%td= f.text_field :url14, autofocus: false, placeholder: t("monitoring_objectivity_ous.url14"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document14')
          = ": "
          - if @monitoring_objectivity_ou.document14.previewable?
            = link_to @monitoring_objectivity_ou.document14 do
              = image_tag @monitoring_objectivity_ou.document14.preview(resize_to_limit: [140, 140])
          - else
            -if @monitoring_objectivity_ou.document14.attached?
              = link_to @monitoring_objectivity_ou.document14.name, @monitoring_objectivity_ou.document14
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document14, direct_upload: true
          = f.check_box(:delete_document14)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №15
      %tr
        %th{:colspan=>2}
          = "15. "
          = t('monitoring_objectivity_ous.title15')
      %tr
        %td= t('monitoring_objectivity_ous.url15')
        %td= best_in_place @monitoring_objectivity_ou, :url15, :as => :input
        -#%td= f.text_field :url15, autofocus: false, placeholder: t("monitoring_objectivity_ous.url15"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document15')
          = ": "
          - if @monitoring_objectivity_ou.document15.previewable?
            = link_to @monitoring_objectivity_ou.document15 do
              = image_tag @monitoring_objectivity_ou.document15.preview(resize_to_limit: [150, 150])
          - else
            -if @monitoring_objectivity_ou.document15.attached?
              = link_to @monitoring_objectivity_ou.document15.name, @monitoring_objectivity_ou.document15
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document15, direct_upload: true
          = f.check_box(:delete_document15)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      -# раздел №16
      %tr
        %th{:colspan=>2}
          = "16. "
          = t('monitoring_objectivity_ous.title16')
      %tr
        %td= t('monitoring_objectivity_ous.url16')
        %td= best_in_place @monitoring_objectivity_ou, :url16, :as => :input
        -#%td= f.text_field :url16, autofocus: false, placeholder: t("monitoring_objectivity_ous.url16"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document16')
          = ": "
          - if @monitoring_objectivity_ou.document16.previewable?
            = link_to @monitoring_objectivity_ou.document16 do
              = image_tag @monitoring_objectivity_ou.document16.preview(resize_to_limit: [160, 160])
          - else
            -if @monitoring_objectivity_ou.document16.attached?
              = link_to @monitoring_objectivity_ou.document16.name, @monitoring_objectivity_ou.document16
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document16, direct_upload: true
          = f.check_box(:delete_document16)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №17
      %tr
        %th{:colspan=>2}
          = "17. "
          = t('monitoring_objectivity_ous.title17')
      %tr
        %td= t('monitoring_objectivity_ous.url17')
        %td= best_in_place @monitoring_objectivity_ou, :url17, :as => :input
        -#%td= f.text_field :url17, autofocus: false, placeholder: t("monitoring_objectivity_ous.url17"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document17')
          = ": "
          - if @monitoring_objectivity_ou.document17.previewable?
            = link_to @monitoring_objectivity_ou.document17 do
              = image_tag @monitoring_objectivity_ou.document17.preview(resize_to_limit: [170, 170])
          - else
            -if @monitoring_objectivity_ou.document17.attached?
              = link_to @monitoring_objectivity_ou.document17.name, @monitoring_objectivity_ou.document17
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document17, direct_upload: true
          = f.check_box(:delete_document17)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      -# раздел №18
      %tr
        %th{:colspan=>2}
          = "18. "
          = t('monitoring_objectivity_ous.title18')
      %tr
        %td= t('monitoring_objectivity_ous.url18')
        %td= best_in_place @monitoring_objectivity_ou, :url18, :as => :input
        -#%td= f.text_field :url18, autofocus: false, placeholder: t("monitoring_objectivity_ous.url18"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document18')
          = ": "
          - if @monitoring_objectivity_ou.document18.previewable?
            = link_to @monitoring_objectivity_ou.document18 do
              = image_tag @monitoring_objectivity_ou.document18.preview(resize_to_limit: [180, 180])
          - else
            -if @monitoring_objectivity_ou.document18.attached?
              = link_to @monitoring_objectivity_ou.document18.name, @monitoring_objectivity_ou.document18
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document18, direct_upload: true
          = f.check_box(:delete_document18)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      -# раздел №19
      %tr
        %th{:colspan=>2}
          = "19. "
          = t('monitoring_objectivity_ous.title19')
      %tr
        %td= t('monitoring_objectivity_ous.url19')
        %td= best_in_place @monitoring_objectivity_ou, :url19, :as => :input
        -#%td= f.text_field :url19, autofocus: false, placeholder: t("monitoring_objectivity_ous.url19"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document19')
          = ": "
          - if @monitoring_objectivity_ou.document19.previewable?
            = link_to @monitoring_objectivity_ou.document19 do
              = image_tag @monitoring_objectivity_ou.document19.preview(resize_to_limit: [190, 190])
          - else
            -if @monitoring_objectivity_ou.document19.attached?
              = link_to @monitoring_objectivity_ou.document19.name, @monitoring_objectivity_ou.document19
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document19, direct_upload: true
          = f.check_box(:delete_document19)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №20
      %tr
        %th{:colspan=>2}
          = "20. "
          = t('monitoring_objectivity_ous.title20')
      %tr
        %td= t('monitoring_objectivity_ous.url20')
        %td= best_in_place @monitoring_objectivity_ou, :url20, :as => :input
        -#%td= f.text_field :url20, autofocus: false, placeholder: t("monitoring_objectivity_ous.url20"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document20')
          = ": "
          - if @monitoring_objectivity_ou.document20.previewable?
            = link_to @monitoring_objectivity_ou.document20 do
              = image_tag @monitoring_objectivity_ou.document20.preview(resize_to_limit: [200, 200])
          - else
            -if @monitoring_objectivity_ou.document20.attached?
              = link_to @monitoring_objectivity_ou.document20.name, @monitoring_objectivity_ou.document20
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document20, direct_upload: true
          = f.check_box(:delete_document20)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr
      -# раздел №21
      %tr
        %th{:colspan=>2}
          = "21. "
          = t('monitoring_objectivity_ous.title21')
      %tr
        %td= t('monitoring_objectivity_ous.url21')
        %td= best_in_place @monitoring_objectivity_ou, :url21, :as => :input
        -#%td= f.text_field :url21, autofocus: false, placeholder: t("monitoring_objectivity_ous.url21"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document21')
          = ": "
          - if @monitoring_objectivity_ou.document21.previewable?
            = link_to @monitoring_objectivity_ou.document21 do
              = image_tag @monitoring_objectivity_ou.document21.preview(resize_to_limit: [210, 210])
          - else
            -if @monitoring_objectivity_ou.document21.attached?
              = link_to @monitoring_objectivity_ou.document21.name, @monitoring_objectivity_ou.document21
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document21, direct_upload: true
          = f.check_box(:delete_document21)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr

      -# раздел №22
      %tr
        %th{:colspan=>2}
          = "22. "
          = t('monitoring_objectivity_ous.title22')
      %tr
        %td= t('monitoring_objectivity_ous.url22')
        %td= best_in_place @monitoring_objectivity_ou, :url22, :as => :input
        -#%td= f.text_field :url22, autofocus: false, placeholder: t("monitoring_objectivity_ous.url22"), class: 'form-control'
      %tr
        %td
          = t('monitoring_objectivity_ous.document22')
          = ": "
          - if @monitoring_objectivity_ou.document22.previewable?
            = link_to @monitoring_objectivity_ou.document22 do
              = image_tag @monitoring_objectivity_ou.document22.preview(resize_to_limit: [220, 220])
          - else
            -if @monitoring_objectivity_ou.document22.attached?
              = link_to @monitoring_objectivity_ou.document22.name, @monitoring_objectivity_ou.document22
            -else
              = t("monitoring_objectivity_ous.file_is_absent")
        %td
          = f.file_field :document22, direct_upload: true
          = f.check_box(:delete_document22)
          = t("monitoring_objectivity_ous.delete_file")

      %tr
        %th{:colspan=>2}
          %hr


      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @monitoring_objectivity_ou.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}