-if @monitoring_objectivity_ous.count > 20
  .apple_pagination
    = will_paginate @monitoring_objectivity_ous

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ous.id")
    %th= t("monitoring_objectivity_ous.ou_id")
    -#%th= t("monitoring_objectivity_ous.user_id")
    %th= t("monitoring_objectivity_ous.status_id")
    %th= t("monitoring_objectivity_ous.urls")
    -if current_user.admin?
      %th= t("monitoring_objectivity_ous.created_at")
      %th= t("monitoring_objectivity_ous.updated_at")
    %th= t("ous.actions.title")
  %tbody
    - @monitoring_objectivity_ous.each do |row|
      %tr
        -if current_user.admin?
          %td= row.id.to_s
        %td= ('00' + Ou.find(row.ou_id).code.to_s)[-6..-1]
        -#%td= User.find(row.user_id).first_name
        %td
          -if row.status_id == 1
            ="Завершена"
          -else
            ="В работе"
        %td
          = row.entered.to_s
          = "из 22"
          .progress
            -if row.status_id == 1
              .progress-bar{"aria-valuemax" => "22", "aria-valuemin" => "0", "aria-valuenow" => "#{row.entered.to_s}", :role => "progressbar", :style => "width: #{row.entered*100/22}%"}
            -else
              .progress-bar.progress-bar-striped.progress-bar-animated{"aria-valuemax" => "22", "aria-valuemin" => "0", "aria-valuenow" => "#{row.entered.to_s}", :role => "progressbar", :style => "width: #{row.entered*100/22}%"}


        -if current_user.admin?
          %td= row.created_at.strftime("%d.%m.%Y\u00a0%H:%M")
          %td= row.updated_at.strftime("%d.%m.%Y\u00a0%H:%M")
        %td
          - if can? :edit, row
            = link_to edit_monitoring_objectivity_ou_path(row) do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          - if can? :destroy, row
            = link_to monitoring_objectivity_ou_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @monitoring_objectivity_ous.count > 20
  .apple_pagination
    = will_paginate @monitoring_objectivity_ous