.row
  .span9
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            %h3.pull-left= t("monitoring_objectivity_ous.list.title")
          %td{:width=>100}
            - if can? :create, MonitoringObjectivityOu
              = link_to new_monitoring_objectivity_ou_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, MonitoringObjectivityOu
              = link_to monitoring_objectivity_ous_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            - if can? :import, MonitoringObjectivityOu
              = link_to new_monitoring_objectivity_ous_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"

    = form_tag monitoring_objectivity_ous_path,:method => "GET", :class => "simple-filter monitoring_objectivity_ous-filter", "data-button" => "a#monitoring_objectivity_ous-search", "data-target" => ".monitoring_objectivity_ous-filter-target" do
      = render :partial => "filter_fields",:locals => {:filter => @filter}

    = form_tag monitoring_objectivity_ous_path, :method => 'get', :id => "monitoring_objectivity_ous_search" do
      %p
        = t("monitoring_objectivity_ous.filter.code_or_name")
        = text_field_tag "search", params[:search]
        = t("monitoring_objectivity_ous.filter.status")
        = select_tag "filter", options_for_select(@statuses.collect {|p| [ p['name'], p['id'] ] }, :selected => params[:filter]),
              {:include_blank => true, :class => "simple-chosen", "data-placeholder" => t("helpers.placeholder.statuses") ,"data-autosubmit" => "change"}
        = t("monitoring_objectivity_ous.filter.ates")
        = select_tag "ates", options_for_select(@ates.collect {|p| [ ('00' + p['code'].to_s)[-2..-1] + ' ' + p['name'], p['id'] ] }, :selected => params[:ates]),
              {:include_blank => true, :class => "simple-chosen", "data-placeholder" => t("helpers.placeholder.ates") ,"data-autosubmit" => "change"}
        = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
          = bootstrap_icon "search", width: 25, height: 25, fill: "blue"


    - md = []
    - @monitoring_objectivity_ous.each do |row|
      - i = 0
      - while i < 22
        - i = i + 1
        -if row.entered_number(i)
          - md[i] = (md[i] || 0) + 1
    - i = 0
    - mdata = Array.new
    - while i < 22
      - i = i + 1
      - b = ["п.#{i}", md[i]]
      - mdata.append(b)
    -# = mdata
    = column_chart mdata, stacked: true, download: {filename: "monitoring_objectivity_ous_" + DateTime.now.getlocal.to_s.gsub(' ', '-').gsub(':', '.')}


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t("monitoring_objectivity_ous.title")}