-@ball01 = [{"name"=>"цель отсутствует", "id"=> 0}, {"name"=>"цель имеется", "id"=>1}]
-@ball02 = [{"name"=>"нет обоснования", "id"=> 0}, {"name"=>"цель имеет обоснование", "id"=>1}]
-@ball03 = [{"name"=>"цель не соответствует критериям SMART", "id"=> 0}, {"name"=>"цель соответствует критериям SMART", "id"=>1}]
-@ball04 = [{"name"=>"цель отсутствует", "id"=> 0}, {"name"=>"цель имеется", "id"=>1}]
-@ball05 = [{"name"=>"нет обоснования", "id"=> 0}, {"name"=>"цель имеет обоснование", "id"=>1}]
-@ball06 = [{"name"=>"цель не соответствует критериям SMART", "id"=> 0}, {"name"=>"цель соответствует критериям SMART", "id"=>1}]

-@ball07 = [{"name"=>"показатели отсутствуют", "id"=> 0}, {"name"=>"показатели приведены", "id"=>1}]
-@ball08 = [{"name"=>"показатели соответствуют цели", "id"=> 0}, {"name"=>"показатели не соответствуют цели", "id"=>1}]
-@ball09 = [{"name"=>"показатели отсутствуют", "id"=> 0}, {"name"=>"показатели приведены", "id"=>1}]
-@ball10 = [{"name"=>"показатели соответствуют цели", "id"=> 0}, {"name"=>"показатели не соответствуют цели", "id"=>1}]

-@ball11 = [{"name"=>"нет описания методов сбора информации", "id"=> 0}, {"name"=>"описание методово сбора информации приведено", "id"=>1}]
-@ball12 = [{"name"=>"не указаны информационные системы сбора информации", "id"=> 0}, {"name"=>"указаны информационные системы, используемые для сбора информации", "id"=>1}]
-@ball13 = [{"name"=>"нет описания методов обработки", "id"=> 0}, {"name"=>"описание методов обработки приведено", "id"=>1}]
-@ball14 = [{"name"=>"не представлена программа за 2021-2022 уч. год", "id"=> 0}, {"name"=>"программа за 2021-2022 уч. год представлена", "id"=>1}]
-@ball15 = [{"name"=>"не представлена программа за 2020-2021 уч. год", "id"=> 0}, {"name"=>"программа за 2020-2021 уч. год представлена", "id"=>1}]
-@ball16 = [{"name"=>"не представлена программа за 2019-2020 уч. год", "id"=> 0}, {"name"=>"программа за 2019-2020 уч. год представлена", "id"=>1}]

-@ball17 = [{"name"=>"не учтены федеральные треки в программе за 2021-2022 уч. год", "id"=> 0}, {"name"=>"в программе за 2021-2022 уч.г. учтены федеральные треки оценки качества образования", "id"=>1}]
-@ball18 = [{"name"=>"не приведены в программе конкретные сроки и ответственные лица", "id"=> 0}, {"name"=>"в программе приведены конкретные сроки и ответственные лица ", "id"=>1}]

-@ball19 = [{"name"=>"не представлен анализ в программе за 2021-2022 уч. год", "id"=> 0}, {"name"=>"в программе за 2021-2022 уч. год представлен анализ", "id"=>1}]
-@ball20 = [{"name"=>"не представлен анализ в программе за 2020-2021 уч. год", "id"=> 0}, {"name"=>"в программе за 2020-2021 уч. год представлен анализ", "id"=>1}]
-@ball21 = [{"name"=>"не представлен анализ в программе за 2019-2020 уч. год", "id"=> 0}, {"name"=>"в программе за 2019-2020 уч. год представлен анализ", "id"=>1}]

-@ball22 = [{"name"=>"не учтены три трека в анализе за 2021-2022 уч. год", "id"=> 0}, {"name"=>"в анализе за 2021-2022 уч. год учтены три компонента федерального трека", "id"=>1}]
-@ball23 = [{"name"=>"не выявлены факторы, влияющие на объективность", "id"=> 0}, {"name"=>"в анализе выявлены факторы, влияющие на объективность", "id"=>1}]

-@ball24 = [{"name"=>"не представлены за 2021-2022 уч. год", "id"=> 0}, {"name"=>"представлены за 2021-2022 уч. год", "id"=>1}]
-@ball25 = [{"name"=>"не указана адресность", "id"=> 0}, {"name"=>"адресность указана", "id"=>1}]
-@ball26 = [{"name"=>"не учтены результаты анализа", "id"=> 0}, {"name"=>"в рекомендациях учтены результаты анализа", "id"=>1}]

-@ball27 = [{"name"=>"не представлен за 2021-2022 уч. год.", "id"=> 0}, {"name"=>"представлен за 2021-2022 уч. год", "id"=>1}]
-@ball28 = [{"name"=>"не представлен за 2020-2021 уч. год.", "id"=> 0}, {"name"=>"представлен за 2020-2021 уч. год", "id"=>1}]
-@ball29 = [{"name"=>"не представлен за 2019-2020 уч. год.", "id"=> 0}, {"name"=>"представлен за 2019-2020 уч. год", "id"=>1}]
-@ball30 = [{"name"=>"не приведены сроки проведения анализа эффективности", "id"=> 0}, {"name"=>"приведены сроки проведения анализа эффективности принятых мер за 2021-2022 уч. год", "id"=>1}]
-@ball31 = [{"name"=>"не приведены сведения об эффективности принятых мер", "id"=> 0}, {"name"=>"приведены сведения об эффективности принятых мер в анализе за 2021-2022 уч. год", "id"=>1}]
-@ball32 = [{"name"=>"не выделены проблемы за 2021-2022 уч. год", "id"=> 0}, {"name"=>"в анализе выделены проблемы за 2021-2022 уч. год", "id"=>1}]

-@ball33 = [{"name"=>"не представлены за 2021-2022 уч. год", "id"=> 0}, {"name"=>"представлены за 2021-2022 уч. год", "id"=>1}]
-@ball34 = [{"name"=>"не представлены за 2020-2021 уч. год", "id"=> 0}, {"name"=>"представлены за 2020-2021 уч. год", "id"=>1}]
-@ball35 = [{"name"=>"не представлены за 2019-2020 уч. год", "id"=> 0}, {"name"=>"представлены за 2019-2020 уч. год", "id"=>1}]

-@ball36 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball37 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball38 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]

-@ball39 = [{"name"=>"не представлены за 2021-2022 уч. год", "id"=> 0}, {"name"=>"представлены за 2021-2022 уч. год", "id"=>1}]
-@ball40 = [{"name"=>"не представлены за 2020-2021 уч. год", "id"=> 0}, {"name"=>"представлены за 2020-2021 уч. год", "id"=>1}]
-@ball41 = [{"name"=>"не представлены за 2019-2020 уч. год", "id"=> 0}, {"name"=>"представлены за 2019-2020 уч. год", "id"=>1}]


%h4= t("objectivity_ate_marks.actions.edit")
- if @objectivity_ate_mark.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@objectivity_ate_mark.errors.count, "ошибок(ка)")
        = t('monitoring_objectivity_ates.errors.cant_saving')
      %ul
        - @objectivity_ate_mark.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("objectivity_ate_marks." + error.attribute.name))

%p
  ="Баллы предзаполнены по результатам вычислений есть/нет ссылка или документ. Анализ содержания документов не производился. Вам необходимо проверить доступность и достоверность представленных сведений!"

= form_for @objectivity_ate_mark do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>3}
          = "Адресная часть"
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td{:colspan=>3}
          %b
            =t('monitoring_objectvity_ate_marks.mouo')
          =@monitoring_objectivity_ate.mouo.name
          =f.hidden_field :monitoring_objectivity_ates_id, :value => @monitoring_objectivity_ate.id
          %br
          %b
            =t('monitoring_objectvity_ate_marks.user')
          =current_user.email
          =f.hidden_field :users_id, :value => current_user.id
          %br
          %b
            =t('monitoring_objectvity_ate_marks.status')
          =f.select :status, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_status')

      %tr
        %td{:colspan=>3}
          %b
            ="Заметки"
          %hr

      %tr
        %td{:colspan=>3}
          =@objectivity_ate_mark.monitoring_objectivity_ate.notes

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %th="№"
        %th="Балл"
        %th="Заполненные данные"

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td="1"
        %td
          =f.select :mark01, @ball01.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark02, @ball02.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark03, @ball03.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title01')
          %table
            -if @monitoring_objectivity_ate.url01.present?
              %tr
                %td=t('monitoring_objectivity_ates.url01')
                %td=link_to @monitoring_objectivity_ate.url01, @monitoring_objectivity_ate.url01, target: :_blank
            -if @monitoring_objectivity_ate.document01.present?
              %tr
                %td=t('monitoring_objectivity_ates.document01')
                %td= link_to @monitoring_objectivity_ate.document01.filename, @monitoring_objectivity_ate.document01, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td="2"
        %td
          =f.select :mark04, @ball04.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark05, @ball05.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark06, @ball06.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title02')
          %table
            -if @monitoring_objectivity_ate.url02.present?
              %tr
                %td=t('monitoring_objectivity_ates.url02')
                %td=link_to @monitoring_objectivity_ate.url02, @monitoring_objectivity_ate.url02, target: :_blank
            -if @monitoring_objectivity_ate.document02.present?
              %tr
                %td=t('monitoring_objectivity_ates.document02')
                %td= link_to @monitoring_objectivity_ate.document02.filename, @monitoring_objectivity_ate.document02, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="3"
        %td
          =f.select :mark07, @ball07.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark08, @ball08.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title03')
          %table
            -if @monitoring_objectivity_ate.url03.present?
              %tr
                %td=t('monitoring_objectivity_ates.url03')
                %td=link_to @monitoring_objectivity_ate.url03, @monitoring_objectivity_ate.url03, target: :_blank
            -if @monitoring_objectivity_ate.document03.present?
              %tr
                %td=t('monitoring_objectivity_ates.document03')
                %td= link_to @monitoring_objectivity_ate.document03.filename, @monitoring_objectivity_ate.document03, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td="4"
        %td
          =f.select :mark09, @ball09.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark10, @ball10.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title04')
          %table
            -if @monitoring_objectivity_ate.url04.present?
              %tr
                %td=t('monitoring_objectivity_ates.url04')
                %td=link_to @monitoring_objectivity_ate.url04, @monitoring_objectivity_ate.url04, target: :_blank
            -if @monitoring_objectivity_ate.document04.present?
              %tr
                %td=t('monitoring_objectivity_ates.document04')
                %td= link_to @monitoring_objectivity_ate.document04.filename, @monitoring_objectivity_ate.document04, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="5"
        %td
          =f.select :mark11, @ball11.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark12, @ball12.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title05')
          %table
            -if @monitoring_objectivity_ate.url05.present?
              %tr
                %td=t('monitoring_objectivity_ates.url05')
                %td=link_to @monitoring_objectivity_ate.url05, @monitoring_objectivity_ate.url05, target: :_blank
            -if @monitoring_objectivity_ate.document05.present?
              %tr
                %td=t('monitoring_objectivity_ates.document05')
                %td= link_to @monitoring_objectivity_ate.document05.filename, @monitoring_objectivity_ate.document05, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td="06"
        %td
          =f.select :mark13, @ball13.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title06')
          %table
            -if @monitoring_objectivity_ate.url06.present?
              %tr
                %td=t('monitoring_objectivity_ates.url06')
                %td=link_to @monitoring_objectivity_ate.url06, @monitoring_objectivity_ate.url06, target: :_blank
            -if @monitoring_objectivity_ate.document06.present?
              %tr
                %td=t('monitoring_objectivity_ates.document06')
                %td= link_to @monitoring_objectivity_ate.document06.filename, @monitoring_objectivity_ate.document06, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td="07"
        %td
          =f.select :mark14, @ball14.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark15, @ball15.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark16, @ball16.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title07')
          %table
            -if @monitoring_objectivity_ate.url07.present?
              %tr
                %td=t('monitoring_objectivity_ates.url07')
                %td=link_to @monitoring_objectivity_ate.url07, @monitoring_objectivity_ate.url07, target: :_blank
            -if @monitoring_objectivity_ate.document07.present?
              %tr
                %td=t('monitoring_objectivity_ates.document07')
                %td= link_to @monitoring_objectivity_ate.document07.filename, @monitoring_objectivity_ate.document07, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td="08"
        %td
          =f.select :mark17, @ball17.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark18, @ball18.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title08')
          %table
            -if @monitoring_objectivity_ate.url08.present?
              %tr
                %td=t('monitoring_objectivity_ates.url08')
                %td=link_to @monitoring_objectivity_ate.url08, @monitoring_objectivity_ate.url08, target: :_blank
            -if @monitoring_objectivity_ate.document08.present?
              %tr
                %td=t('monitoring_objectivity_ates.document08')
                %td= link_to @monitoring_objectivity_ate.document08.filename, @monitoring_objectivity_ate.document08, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="09"
        %td
          =f.select :mark19, @ball19.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark20, @ball20.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark21, @ball21.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title09')
          %table
            -if @monitoring_objectivity_ate.url09.present?
              %tr
                %td=t('monitoring_objectivity_ates.url09')
                %td=link_to @monitoring_objectivity_ate.url09, @monitoring_objectivity_ate.url09, target: :_blank
            -if @monitoring_objectivity_ate.document09.present?
              %tr
                %td=t('monitoring_objectivity_ates.document09')
                %td= link_to @monitoring_objectivity_ate.document09.filename, @monitoring_objectivity_ate.document09, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td="10"
        %td
          =f.select :mark22, @ball22.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark23, @ball23.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title10')
          %table
            -if @monitoring_objectivity_ate.url10.present?
              %tr
                %td=t('monitoring_objectivity_ates.url10')
                %td=link_to @monitoring_objectivity_ate.url10, @monitoring_objectivity_ate.url10, target: :_blank
            -if @monitoring_objectivity_ate.document10.present?
              %tr
                %td=t('monitoring_objectivity_ates.document10')
                %td= link_to @monitoring_objectivity_ate.document10.filename, @monitoring_objectivity_ate.document10, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="11"
        %td
          =f.select :mark24, @ball24.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark25, @ball25.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark26, @ball26.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title11')
          %table
            -if @monitoring_objectivity_ate.url11.present?
              %tr
                %td=t('monitoring_objectivity_ates.url11')
                %td=link_to @monitoring_objectivity_ate.url11, @monitoring_objectivity_ate.url11, target: :_blank
            -if @monitoring_objectivity_ate.document11.present?
              %tr
                %td=t('monitoring_objectivity_ates.document11')
                %td= link_to @monitoring_objectivity_ate.document11.filename, @monitoring_objectivity_ate.document11, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="12"
        %td
          =f.select :mark27, @ball27.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark28, @ball28.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark29, @ball29.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark30, @ball30.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark31, @ball31.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark32, @ball32.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title12')
          %table
            -if @monitoring_objectivity_ate.url12.present?
              %tr
                %td=t('monitoring_objectivity_ates.url12')
                %td=link_to @monitoring_objectivity_ate.url12, @monitoring_objectivity_ate.url12, target: :_blank
            -if @monitoring_objectivity_ate.document12.present?
              %tr
                %td=t('monitoring_objectivity_ates.document12')
                %td= link_to @monitoring_objectivity_ate.document12.filename, @monitoring_objectivity_ate.document12, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="13"
        %td
          =f.select :mark33, @ball33.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark34, @ball34.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark35, @ball35.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title13')
          %table
            -if @monitoring_objectivity_ate.url13.present?
              %tr
                %td=t('monitoring_objectivity_ates.url13')
                %td=link_to @monitoring_objectivity_ate.url13, @monitoring_objectivity_ate.url13, target: :_blank
            -if @monitoring_objectivity_ate.document13.present?
              %tr
                %td=t('monitoring_objectivity_ates.document13')
                %td= link_to @monitoring_objectivity_ate.document13.filename, @monitoring_objectivity_ate.document13, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="14"
        %td
          =f.select :mark36, @ball36.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title14')
          %table
            -if @monitoring_objectivity_ate.url14.present?
              %tr
                %td=t('monitoring_objectivity_ates.url14')
                %td=link_to @monitoring_objectivity_ate.url14, @monitoring_objectivity_ate.url14, target: :_blank
            -if @monitoring_objectivity_ate.document14.present?
              %tr
                %td=t('monitoring_objectivity_ates.document14')
                %td= link_to @monitoring_objectivity_ate.document14.filename, @monitoring_objectivity_ate.document14, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td="15"
        %td
          =f.select :mark37, @ball37.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title15')
          %table
            -if @monitoring_objectivity_ate.url15.present?
              %tr
                %td=t('monitoring_objectivity_ates.url15')
                %td=link_to @monitoring_objectivity_ate.url15, @monitoring_objectivity_ate.url15, target: :_blank
            -if @monitoring_objectivity_ate.document15.present?
              %tr
                %td=t('monitoring_objectivity_ates.document15')
                %td= link_to @monitoring_objectivity_ate.document15.filename, @monitoring_objectivity_ate.document15, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="16"
        %td
          =f.select :mark38, @ball38.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title16')
          %table
            -if @monitoring_objectivity_ate.url16.present?
              %tr
                %td=t('monitoring_objectivity_ates.url16')
                %td=link_to @monitoring_objectivity_ate.url16, @monitoring_objectivity_ate.url16, target: :_blank
            -if @monitoring_objectivity_ate.document16.present?
              %tr
                %td=t('monitoring_objectivity_ates.document16')
                %td= link_to @monitoring_objectivity_ate.document16.filename, @monitoring_objectivity_ate.document16, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td="17"
        %td
          =f.select :mark39, @ball39.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark40, @ball40.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
          %br
          =f.select :mark41, @ball41.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ates.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ates.title17')
          %table
            -if @monitoring_objectivity_ate.url17.present?
              %tr
                %td=t('monitoring_objectivity_ates.url17')
                %td=link_to @monitoring_objectivity_ate.url17, @monitoring_objectivity_ate.url17, target: :_blank
            -if @monitoring_objectivity_ate.document17.present?
              %tr
                %td=t('monitoring_objectivity_ates.document17')
                %td= link_to @monitoring_objectivity_ate.document17.filename, @monitoring_objectivity_ate.document17, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td{:colspan=>3}
          %h5=t("objectivity_ate_marks.notes")
          .field{"data-controller" => "rich-text-table"}
            =f.rich_text_area :notes

      -#%tr
      -#  %td{:colspan=>3}
      -#    =f.text_area :notes, :cols => 120, :rows => 4

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td{:colspan=>3}
          .form-actions
            = f.submit @objectivity_ate_mark.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}