-if @objectivity_ate_marks.count > 20
  .apple_pagination
    = will_paginate @objectivity_ate_marks

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ous.id")
    %th= t("objectivity_ate_marks.mouo")
    -if current_user.admin?
      %th= t("objectivity_ate_marks.user")
    %th= t("objectivity_ate_marks.marks")
    %th= t("objectivity_ate_marks.sum_marks")
    %th= t("objectivity_ate_marks.status")
    -if current_user.admin?
      %th= t("objectivity_ate_marks.created_at")
      %th= t("objectivity_ate_marks.updated_at")
    %th= t("ous.actions.title")
  %tbody
    - @objectivity_ate_marks.each do |row|
      %tr
        -if current_user.admin?
          %td= row.id.to_s
          %td= row.user.first_name
        %td= row.monitoring_objectivity_ate.mouo.name
        %td
          =row.mark01
          =row.mark02
          =row.mark03
          =row.mark04
          =row.mark05
          =row.mark06
          =row.mark07
          =row.mark08
          =row.mark09
          =row.mark10
          =row.mark11
          =row.mark12
          =row.mark13
          =row.mark14
          =row.mark15
          =row.mark16
          =row.mark17
          =row.mark18
          =row.mark19
          =row.mark20
          =row.mark21
          =row.mark22
          =row.mark23
          =row.mark24
          =row.mark25
          =row.mark26
          =row.mark27
          =row.mark28
          =row.mark29
          =row.mark30
          =row.mark31
          =row.mark32
          =row.mark33
          =row.mark34
          =row.mark35
          =row.mark36
          =row.mark37
          =row.mark38
          =row.mark39
          =row.mark40
          =row.mark41
        %td
          =row.marksum
        %td
          -if row.status == 1
            ="Завершена"
          -else
            ="В работе"
        -if current_user.admin?
          %td= row.created_at.strftime("%d.%m.%Y\u00a0%H:%M")
          %td= row.updated_at.strftime("%d.%m.%Y\u00a0%H:%M")
        %td
          - if can? :edit, row
            = link_to edit_objectivity_ate_mark_path(row) do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          - if can? :destroy, row
            = link_to objectivity_ate_mark_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"
          =""

-if @objectivity_ate_marks.count > 20
  .apple_pagination
    = will_paginate @objectivity_ate_marks