.row
  .span9
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            %h3.pull-left= t("objectivity_ate_marks.list.title")
          %td{:width=>100}
            = link_to new_objectivity_ate_mark_path do
              = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            -# = link_to objectivity_ate_marks_export_path do
            -#   = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            -# = link_to new_objectivity_ate_marks_import_path do
            -#   = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"

    = form_tag objectivity_ate_marks_path,:method => "GET", :class => "simple-filter objectivity_ate_marks-filter", "data-button" => "a#objectivity_ate_marks-search", "data-target" => ".objectivity_ate_marks-filter-target" do
      = render :partial => "filter_fields",:locals => {:filter => @filter}

    = form_tag objectivity_ate_marks_path, :method => 'get', :id => "objectivity_ate_marks_search" do
      %p
        = t("objectivity_ate_marks.filter.code_or_name")
        = text_field_tag "search", params[:search]
        = t("objectivity_ate_marks.filter.status")
        = select_tag "filter", options_for_select(@statuses.collect {|p| [ p['name'], p['id'] ] }, :selected => params[:filter]),
            {:include_blank => true, :class => "simple-chosen", "data-placeholder" => t("helpers.placeholder.statuses") ,"data-autosubmit" => "change"}
        = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
          = bootstrap_icon "search", width: 25, height: 25, fill: "blue"


    -# - md = []
    -# - @objectivity_ate_marks.each do |row|
    -#   - i = 0
    -#   - while i < 16
    -#     - i = i + 1
    -#     -if row.entered_number(i)
    -#       - md[i] = (md[i] || 0) + 1
    -# - i = 0
    -# - mdata = Array.new
    -# - while i < 16
    -#   - i = i + 1
    -#   - b = ["п.#{i}", md[i]]
    -#   - mdata.append(b)
    -# -# = mdata
    -# = column_chart mdata, stacked: true, download: {filename: "objectivity_ate_marks_" + DateTime.now.getlocal.to_s.gsub(' ', '-').gsub(':', '.')}


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t("objectivity_ate_marks.title")}