-@ball01 = [{"name"=>"приказы отсутствуют", "id"=> 0}, {"name"=>"по одной процедуре", "id"=>1}, {"name"=>"по двум процедурам", "id"=>2}, {"name"=>"по всем процедурам", "id"=>3}]
-@ball02 = [{"name"=>"документа нет", "id"=> 0}, {"name"=>"документ есть", "id"=>1}]
-@ball03 = [{"name"=>"документа нет", "id"=> 0}, {"name"=>"документ есть", "id"=>1}]
-@ball04 = [{"name"=>"системы нет", "id"=> 0}, {"name"=>"система есть", "id"=>1}]
-@ball05 = [{"name"=>"графика нет", "id"=> 0}, {"name"=>"график есть", "id"=>1}]
-@ball06 = [{"name"=>"видеонаблюдения нет", "id"=> 0}, {"name"=>"видеонаблюдение есть", "id"=>1}]
-@ball07 = [{"name"=>"конфликта интересов нет", "id"=> 0}, {"name"=>"конфликт интересов есть", "id"=>1}]
-@ball08 = [{"name"=>"справки нет", "id"=> 0}, {"name"=>"справка есть", "id"=>1}]
-@ball09 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball10 = [{"name"=>"справки нет", "id"=> 0}, {"name"=>"справка есть", "id"=>1}]
-@ball11 = [{"name"=>"плана нет", "id"=> 0}, {"name"=>"план есть", "id"=>1}]
-@ball12 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball13 = [{"name"=>"менее 2 мероприятий в год", "id"=> 0}, {"name"=>"не менее 2 мероприятий в год", "id"=>1}]
-@ball14 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball15 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball16 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]

%h4= t("archive2021_ou_marks.actions.edit")
- if @archive2021_ou_mark.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@archive2021_ou_mark.errors.count, "ошибок(ка)")
        = t('archive2021_ou_marks.errors.cant_saving')
      %ul
        - @archive2021_ou_mark.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("archive2021_ou_marks." + error.attribute.name))

%p
  ="Баллы предзаполнены по результатам вычислений есть/нет ссылка или документ. Анализ содержания документов не производился. Вам необходимо проверить доступность и достоверность представленных сведений!"

= form_for @archive2021_ou_mark do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>3}
          = "Адресная часть"
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td{:colspan=>3}
          %b
            =t('archive2021_ou_marks.ou')
          =@monitoring_objectivity_ou.ou.name
          =f.hidden_field :monitoring_objectivity_ou_id, :value => @monitoring_objectivity_ou.id
          %br
          %b
            =t('archive2021_ou_marks.user')
          =current_user.email
          =f.hidden_field :users_id, :value => current_user.id
          %br
          %b
            =t('archive2021_ou_marks.status')
          =f.select :status, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_status')

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %th="№"
        %th="Балл"
        %th="Заполненные данные"

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=1
        %td
          =f.select :mark01, @ball01.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title01')
          %table
            -if @monitoring_objectivity_ou.url01.present?
              %tr
                %td=t('archive2021_ou_marks.url01')
                %td=link_to @monitoring_objectivity_ou.url01, @monitoring_objectivity_ou.url01, target: :_blank
            -if @monitoring_objectivity_ou.document01.present?
              %tr
                %td=t('archive2021_ou_marks.document01')
                %td= link_to @monitoring_objectivity_ou.document01.filename, @monitoring_objectivity_ou.document01, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=2
        %td
          =f.select :mark02, @ball02.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title02')
          %table
            -if @monitoring_objectivity_ou.url02.present?
              %tr
                %td=t('archive2021_ou_marks.url02')
                %td=link_to @monitoring_objectivity_ou.url02, @monitoring_objectivity_ou.url02, target: :_blank
            -if @monitoring_objectivity_ou.document02.present?
              %tr
                %td=t('archive2021_ou_marks.document02')
                %td= link_to @monitoring_objectivity_ou.document02.filename, @monitoring_objectivity_ou.document02, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=3
        %td
          =f.select :mark03, @ball03.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title03')
          %table
            -if @monitoring_objectivity_ou.url03.present?
              %tr
                %td=t('archive2021_ou_marks.url03')
                %td=link_to @monitoring_objectivity_ou.url03, @monitoring_objectivity_ou.url03, target: :_blank
            -if @monitoring_objectivity_ou.document03.present?
              %tr
                %td=t('archive2021_ou_marks.document03')
                %td= link_to @monitoring_objectivity_ou.document03.filename, @monitoring_objectivity_ou.document03, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=4
        %td
          =f.select :mark04, @ball04.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title04')
          %table
            -if @monitoring_objectivity_ou.url04.present?
              %tr
                %td=t('archive2021_ou_marks.url04')
                %td=link_to @monitoring_objectivity_ou.url04, @monitoring_objectivity_ou.url04, target: :_blank
            -if @monitoring_objectivity_ou.document04.present?
              %tr
                %td=t('archive2021_ou_marks.document04')
                %td= link_to @monitoring_objectivity_ou.document04.filename, @monitoring_objectivity_ou.document04, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=5
        %td
          =f.select :mark05, @ball05.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title05')
          %table
            -if @monitoring_objectivity_ou.url05.present?
              %tr
                %td=t('archive2021_ou_marks.url05')
                %td=link_to @monitoring_objectivity_ou.url05, @monitoring_objectivity_ou.url05, target: :_blank
            -if @monitoring_objectivity_ou.document05.present?
              %tr
                %td=t('archive2021_ou_marks.document05')
                %td= link_to @monitoring_objectivity_ou.document05.filename, @monitoring_objectivity_ou.document05, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=6
        %td
          =f.select :mark06, @ball06.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title06')
          %table
            -if @monitoring_objectivity_ou.url06.present?
              %tr
                %td=t('archive2021_ou_marks.url06')
                %td=link_to @monitoring_objectivity_ou.url06, @monitoring_objectivity_ou.url06, target: :_blank
            -if @monitoring_objectivity_ou.document06.present?
              %tr
                %td=t('archive2021_ou_marks.document06')
                %td= link_to @monitoring_objectivity_ou.document06.filename, @monitoring_objectivity_ou.document06, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=7
        %td
          =f.select :mark07, @ball07.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title07')
          %table
            -if @monitoring_objectivity_ou.url07.present?
              %tr
                %td=t('archive2021_ou_marks.url07')
                %td=link_to @monitoring_objectivity_ou.url07, @monitoring_objectivity_ou.url07, target: :_blank
            -if @monitoring_objectivity_ou.document07.present?
              %tr
                %td=t('archive2021_ou_marks.document07')
                %td= link_to @monitoring_objectivity_ou.document07.filename, @monitoring_objectivity_ou.document07, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=8
        %td
          =f.select :mark08, @ball08.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title08')
          %table
            -if @monitoring_objectivity_ou.url08.present?
              %tr
                %td=t('archive2021_ou_marks.url08')
                %td=link_to @monitoring_objectivity_ou.url08, @monitoring_objectivity_ou.url08, target: :_blank
            -if @monitoring_objectivity_ou.document08.present?
              %tr
                %td=t('archive2021_ou_marks.document08')
                %td= link_to @monitoring_objectivity_ou.document08.filename, @monitoring_objectivity_ou.document08, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=9
        %td
          =f.select :mark09, @ball09.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title09')
          %table
            -if @monitoring_objectivity_ou.url09.present?
              %tr
                %td=t('archive2021_ou_marks.url09')
                %td=link_to @monitoring_objectivity_ou.url09, @monitoring_objectivity_ou.url09, target: :_blank
            -if @monitoring_objectivity_ou.document09.present?
              %tr
                %td=t('archive2021_ou_marks.document09')
                %td= link_to @monitoring_objectivity_ou.document09.filename, @monitoring_objectivity_ou.document09, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=10
        %td
          =f.select :mark10, @ball10.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title10')
          %table
            -if @monitoring_objectivity_ou.url10.present?
              %tr
                %td=t('archive2021_ou_marks.url10')
                %td=link_to @monitoring_objectivity_ou.url10, @monitoring_objectivity_ou.url10, target: :_blank
            -if @monitoring_objectivity_ou.document10.present?
              %tr
                %td=t('archive2021_ou_marks.document10')
                %td= link_to @monitoring_objectivity_ou.document10.filename, @monitoring_objectivity_ou.document10, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=11
        %td
          =f.select :mark11, @ball11.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title11')
          %table
            -if @monitoring_objectivity_ou.url11.present?
              %tr
                %td=t('archive2021_ou_marks.url11')
                %td=link_to @monitoring_objectivity_ou.url11, @monitoring_objectivity_ou.url11, target: :_blank
            -if @monitoring_objectivity_ou.document11.present?
              %tr
                %td=t('archive2021_ou_marks.document11')
                %td= link_to @monitoring_objectivity_ou.document11.filename, @monitoring_objectivity_ou.document11, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=12
        %td
          =f.select :mark12, @ball12.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title12')
          %table
            -if @monitoring_objectivity_ou.url12.present?
              %tr
                %td=t('archive2021_ou_marks.url12')
                %td=link_to @monitoring_objectivity_ou.url12, @monitoring_objectivity_ou.url12, target: :_blank
            -if @monitoring_objectivity_ou.document12.present?
              %tr
                %td=t('archive2021_ou_marks.document12')
                %td= link_to @monitoring_objectivity_ou.document12.filename, @monitoring_objectivity_ou.document12, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=13
        %td
          =f.select :mark13, @ball13.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title13')
          %table
            -if @monitoring_objectivity_ou.url13.present?
              %tr
                %td=t('archive2021_ou_marks.url13')
                %td=link_to @monitoring_objectivity_ou.url13, @monitoring_objectivity_ou.url13, target: :_blank
            -if @monitoring_objectivity_ou.document13.present?
              %tr
                %td=t('archive2021_ou_marks.document13')
                %td= link_to @monitoring_objectivity_ou.document13.filename, @monitoring_objectivity_ou.document13, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=14
        %td
          =f.select :mark14, @ball14.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title14')
          %table
            -if @monitoring_objectivity_ou.url14.present?
              %tr
                %td=t('archive2021_ou_marks.url14')
                %td=link_to @monitoring_objectivity_ou.url14, @monitoring_objectivity_ou.url14, target: :_blank
            -if @monitoring_objectivity_ou.document14.present?
              %tr
                %td=t('archive2021_ou_marks.document14')
                %td= link_to @monitoring_objectivity_ou.document14.filename, @monitoring_objectivity_ou.document14, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=15
        %td
          =f.select :mark15, @ball15.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title15')
          %table
            -if @monitoring_objectivity_ou.url15.present?
              %tr
                %td=t('archive2021_ou_marks.url15')
                %td=link_to @monitoring_objectivity_ou.url15, @monitoring_objectivity_ou.url15, target: :_blank
            -if @monitoring_objectivity_ou.document15.present?
              %tr
                %td=t('archive2021_ou_marks.document15')
                %td= link_to @monitoring_objectivity_ou.document15.filename, @monitoring_objectivity_ou.document15, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=16
        %td
          =f.select :mark16, @ball16.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('archive2021_ou_marks.title16')
          %table
            -if @monitoring_objectivity_ou.url16.present?
              %tr
                %td=t('archive2021_ou_marks.url16')
                %td=link_to @monitoring_objectivity_ou.url16, @monitoring_objectivity_ou.url16, target: :_blank
            -if @monitoring_objectivity_ou.document16.present?
              %tr
                %td=t('archive2021_ou_marks.document16')
                %td= link_to @monitoring_objectivity_ou.document16.filename, @monitoring_objectivity_ou.document16, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td{:colspan=>3}
          =f.text_area :notes, :cols => 120, :rows => 4

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td{:colspan=>3}
          .form-actions
            = f.submit @archive2021_ou_mark.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}