%h1 Импорт органов управления образованием из Excel-файла
%p
  Помните: следует загружать только таблицы, соответствующие формату выгрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели МОУО.
  %li Файл должен быть Excel, при этом содержать только столбцы 'Код ОО', 'Наименование ОМСУ', 'Наименование АТЕ', 'ФИО для контакта', 'Телефон для контакта'.
  %li При выполнении этих требований, файл может быть импортирован.
%h5 Выберите файл
= form_for @ous_import do |f|
  - if @ous_import.errors.any?
    = pluralize(@ous_import.errors.count, "error")
    защита от неверного импорта таблиц.
    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @ous_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("Import File")