-@ball01 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball02 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball03 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball04 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball05 = [{"name"=>"не определены", "id"=> 0}, {"name"=>"определены", "id"=>1}]
-@ball06 = [{"name"=>"не определены", "id"=> 0}, {"name"=>"определены", "id"=>1}]
-@ball07 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball08 = [{"name"=>"не соответствует установленным показателям", "id"=> 0}, {"name"=>"соответствует установленным показателям", "id"=>1}]
-@ball09 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball10 = [{"name"=>"не соответствует установленным показателям", "id"=> 0}, {"name"=>"соответствует установленным показателям", "id"=>1}]
-@ball11 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball12 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball13 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball14 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball15 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball16 = [{"name"=>"отсутствует", "id"=> 0}, {"name"=>"имеются", "id"=>1}]
-@ball17 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball18 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball19 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball20 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball21 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball22 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball23 = [{"name"=>"нет", "id"=> 0}, {"name"=>"да", "id"=>1}]
-@ball24 = [{"name"=>"не представлены", "id"=> 0}, {"name"=>"представлены", "id"=>1}]

%h4= t("objectivity_ou_marks.actions.edit")
- if @objectivity_ou_mark.errors.any?
  #error_explanation
    .bip-flash-error
      %h2
        = pluralize(@objectivity_ou_mark.errors.count, "ошибок(ка)")
        = t('monitoring_objectivity_ous.errors.cant_saving')
      %ul
        - @objectivity_ou_mark.errors.each do |error|
          %li= error.full_message.gsub(error.attribute.name.capitalize, t("objectivity_ou_marks." + error.attribute.name))

%p
  ="Баллы предзаполнены по результатам вычислений есть/нет ссылка или документ. Анализ содержания документов не производился. Вам необходимо проверить доступность и достоверность представленных сведений!"

= form_for @objectivity_ou_mark do |f|
  .form-group
    %table
      -# адресный раздел
      %tr
        %th{:colspan=>3}
          = "Адресная часть"
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td{:colspan=>3}
          %b
            =t('objectivity_ou_marks.ou')
          =@monitoring_objectivity_ou.ou.name
          =f.hidden_field :monitoring_objectivity_ou_id, :value => @monitoring_objectivity_ou.id
          %br
          %b
            =t('objectivity_ou_marks.user')
          =current_user.email
          =f.hidden_field :user_id, :value => current_user.id
          %br
          %b
            =t('objectivity_ou_marks.status')
          =f.select :status, @statuses.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_status')

      %tr
        %td{:colspan=>3}
          %b
            ="Заметки"
          %hr

      %tr
        %td{:colspan=>3}
          =@objectivity_ou_mark.monitoring_objectivity_ou.notes

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %th="№"
        %th="Балл"
        %th="Заполненные данные"

      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=1
        %td
          =f.select :mark01, @ball01.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title01')
          %table
            -if @monitoring_objectivity_ou.url01.present?
              %tr
                %td=t('monitoring_objectivity_ous.url01')
                %td=link_to @monitoring_objectivity_ou.url01, @monitoring_objectivity_ou.url01, target: :_blank
            -if @monitoring_objectivity_ou.document01.present?
              %tr
                %td=t('monitoring_objectivity_ous.document01')
                %td= link_to @monitoring_objectivity_ou.document01.filename, @monitoring_objectivity_ou.document01, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=2
        %td
          =f.select :mark02, @ball02.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title02')
          %table
            -if @monitoring_objectivity_ou.url02.present?
              %tr
                %td=t('monitoring_objectivity_ous.url02')
                %td=link_to @monitoring_objectivity_ou.url02, @monitoring_objectivity_ou.url02, target: :_blank
            -if @monitoring_objectivity_ou.document02.present?
              %tr
                %td=t('monitoring_objectivity_ous.document02')
                %td= link_to @monitoring_objectivity_ou.document02.filename, @monitoring_objectivity_ou.document02, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=3
        %td
          =f.select :mark03, @ball03.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title03')
          %table
            -if @monitoring_objectivity_ou.url03.present?
              %tr
                %td=t('monitoring_objectivity_ous.url03')
                %td=link_to @monitoring_objectivity_ou.url03, @monitoring_objectivity_ou.url03, target: :_blank
            -if @monitoring_objectivity_ou.document03.present?
              %tr
                %td=t('monitoring_objectivity_ous.document03')
                %td= link_to @monitoring_objectivity_ou.document03.filename, @monitoring_objectivity_ou.document03, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=4
        %td
          =f.select :mark04, @ball04.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title04')
          %table
            -if @monitoring_objectivity_ou.url04.present?
              %tr
                %td=t('monitoring_objectivity_ous.url04')
                %td=link_to @monitoring_objectivity_ou.url04, @monitoring_objectivity_ou.url04, target: :_blank
            -if @monitoring_objectivity_ou.document04.present?
              %tr
                %td=t('monitoring_objectivity_ous.document04')
                %td= link_to @monitoring_objectivity_ou.document04.filename, @monitoring_objectivity_ou.document04, target: :_blank


      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=5
        %td
          =f.select :mark05, @ball05.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title05')
          %table
            -if @monitoring_objectivity_ou.url05.present?
              %tr
                %td=t('monitoring_objectivity_ous.url05')
                %td=link_to @monitoring_objectivity_ou.url05, @monitoring_objectivity_ou.url05, target: :_blank
            -if @monitoring_objectivity_ou.document05.present?
              %tr
                %td=t('monitoring_objectivity_ous.document05')
                %td= link_to @monitoring_objectivity_ou.document05.filename, @monitoring_objectivity_ou.document05, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=6
        %td
          =f.select :mark06, @ball06.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title06')
          %table
            -if @monitoring_objectivity_ou.url06.present?
              %tr
                %td=t('monitoring_objectivity_ous.url06')
                %td=link_to @monitoring_objectivity_ou.url06, @monitoring_objectivity_ou.url06, target: :_blank
            -if @monitoring_objectivity_ou.document06.present?
              %tr
                %td=t('monitoring_objectivity_ous.document06')
                %td= link_to @monitoring_objectivity_ou.document06.filename, @monitoring_objectivity_ou.document06, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=7
        %td
          =f.select :mark07, @ball07.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
          %br
          =f.select :mark08, @ball08.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title07')
          %table
            -if @monitoring_objectivity_ou.url07.present?
              %tr
                %td=t('monitoring_objectivity_ous.url07')
                %td=link_to @monitoring_objectivity_ou.url07, @monitoring_objectivity_ou.url07, target: :_blank
            -if @monitoring_objectivity_ou.document07.present?
              %tr
                %td=t('monitoring_objectivity_ous.document07')
                %td= link_to @monitoring_objectivity_ou.document07.filename, @monitoring_objectivity_ou.document07, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=8
        %td
          =f.select :mark09, @ball09.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
          %br
          =f.select :mark10, @ball10.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title08')
          %table
            -if @monitoring_objectivity_ou.url08.present?
              %tr
                %td=t('monitoring_objectivity_ous.url08')
                %td=link_to @monitoring_objectivity_ou.url08, @monitoring_objectivity_ou.url08, target: :_blank
            -if @monitoring_objectivity_ou.document08.present?
              %tr
                %td=t('monitoring_objectivity_ous.document08')
                %td= link_to @monitoring_objectivity_ou.document08.filename, @monitoring_objectivity_ou.document08, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=9
        %td
          =f.select :mark11, @ball11.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title09')
          %table
            -if @monitoring_objectivity_ou.url09.present?
              %tr
                %td=t('monitoring_objectivity_ous.url09')
                %td=link_to @monitoring_objectivity_ou.url09, @monitoring_objectivity_ou.url09, target: :_blank
            -if @monitoring_objectivity_ou.document09.present?
              %tr
                %td=t('monitoring_objectivity_ous.document09')
                %td= link_to @monitoring_objectivity_ou.document09.filename, @monitoring_objectivity_ou.document09, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=10
        %td
          =f.select :mark12, @ball12.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title10')
          %table
            -if @monitoring_objectivity_ou.url10.present?
              %tr
                %td=t('monitoring_objectivity_ous.url10')
                %td=link_to @monitoring_objectivity_ou.url10, @monitoring_objectivity_ou.url10, target: :_blank
            -if @monitoring_objectivity_ou.document10.present?
              %tr
                %td=t('monitoring_objectivity_ous.document10')
                %td= link_to @monitoring_objectivity_ou.document10.filename, @monitoring_objectivity_ou.document10, target: :_blank

      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=11
        %td
          =f.select :mark13, @ball13.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title11')
          %table
            -if @monitoring_objectivity_ou.url11.present?
              %tr
                %td=t('monitoring_objectivity_ous.url11')
                %td=link_to @monitoring_objectivity_ou.url11, @monitoring_objectivity_ou.url11, target: :_blank
            -if @monitoring_objectivity_ou.document11.present?
              %tr
                %td=t('monitoring_objectivity_ous.document11')
                %td= link_to @monitoring_objectivity_ou.document11.filename, @monitoring_objectivity_ou.document11, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=12
        %td
          =f.select :mark14, @ball14.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title12')
          %table
            -if @monitoring_objectivity_ou.url12.present?
              %tr
                %td=t('monitoring_objectivity_ous.url12')
                %td=link_to @monitoring_objectivity_ou.url12, @monitoring_objectivity_ou.url12, target: :_blank
            -if @monitoring_objectivity_ou.document12.present?
              %tr
                %td=t('monitoring_objectivity_ous.document12')
                %td= link_to @monitoring_objectivity_ou.document12.filename, @monitoring_objectivity_ou.document12, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=13
        %td
          =f.select :mark15, @ball15.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title13')
          %table
            -if @monitoring_objectivity_ou.url13.present?
              %tr
                %td=t('monitoring_objectivity_ous.url13')
                %td=link_to @monitoring_objectivity_ou.url13, @monitoring_objectivity_ou.url13, target: :_blank
            -if @monitoring_objectivity_ou.document13.present?
              %tr
                %td=t('monitoring_objectivity_ous.document13')
                %td= link_to @monitoring_objectivity_ou.document13.filename, @monitoring_objectivity_ou.document13, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=14
        %td
          =f.select :mark16, @ball16.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title14')
          %table
            -if @monitoring_objectivity_ou.url14.present?
              %tr
                %td=t('monitoring_objectivity_ous.url14')
                %td=link_to @monitoring_objectivity_ou.url14, @monitoring_objectivity_ou.url14, target: :_blank
            -if @monitoring_objectivity_ou.document14.present?
              %tr
                %td=t('monitoring_objectivity_ous.document14')
                %td= link_to @monitoring_objectivity_ou.document14.filename, @monitoring_objectivity_ou.document14, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=15
        %td
          =f.select :mark17, @ball17.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title15')
          %table
            -if @monitoring_objectivity_ou.url15.present?
              %tr
                %td=t('monitoring_objectivity_ous.url15')
                %td=link_to @monitoring_objectivity_ou.url15, @monitoring_objectivity_ou.url15, target: :_blank
            -if @monitoring_objectivity_ou.document15.present?
              %tr
                %td=t('monitoring_objectivity_ous.document15')
                %td= link_to @monitoring_objectivity_ou.document15.filename, @monitoring_objectivity_ou.document15, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr
      %tr
        %td=16
        %td
          =f.select :mark18, @ball18.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title16')
          %table
            -if @monitoring_objectivity_ou.url16.present?
              %tr
                %td=t('monitoring_objectivity_ous.url16')
                %td=link_to @monitoring_objectivity_ou.url16, @monitoring_objectivity_ou.url16, target: :_blank
            -if @monitoring_objectivity_ou.document16.present?
              %tr
                %td=t('monitoring_objectivity_ous.document16')
                %td= link_to @monitoring_objectivity_ou.document16.filename, @monitoring_objectivity_ou.document16, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=17
        %td
          =f.select :mark19, @ball19.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title17')
          %table
            -if @monitoring_objectivity_ou.url17.present?
              %tr
                %td=t('monitoring_objectivity_ous.url17')
                %td=link_to @monitoring_objectivity_ou.url17, @monitoring_objectivity_ou.url17, target: :_blank
            -if @monitoring_objectivity_ou.document17.present?
              %tr
                %td=t('monitoring_objectivity_ous.document17')
                %td= link_to @monitoring_objectivity_ou.document17.filename, @monitoring_objectivity_ou.document17, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td=18
        %td
          =f.select :mark20, @ball20.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title18')
          %table
            -if @monitoring_objectivity_ou.url18.present?
              %tr
                %td=t('monitoring_objectivity_ous.url18')
                %td=link_to @monitoring_objectivity_ou.url18, @monitoring_objectivity_ou.url18, target: :_blank
            -if @monitoring_objectivity_ou.document18.present?
              %tr
                %td=t('monitoring_objectivity_ous.document18')
                %td= link_to @monitoring_objectivity_ou.document18.filename, @monitoring_objectivity_ou.document18, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=19
        %td
          =f.select :mark21, @ball21.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title19')
          %table
            -if @monitoring_objectivity_ou.url19.present?
              %tr
                %td=t('monitoring_objectivity_ous.url19')
                %td=link_to @monitoring_objectivity_ou.url19, @monitoring_objectivity_ou.url19, target: :_blank
            -if @monitoring_objectivity_ou.document19.present?
              %tr
                %td=t('monitoring_objectivity_ous.document19')
                %td= link_to @monitoring_objectivity_ou.document19.filename, @monitoring_objectivity_ou.document19, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td=20
        %td
          =f.select :mark22, @ball22.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title20')
          %table
            -if @monitoring_objectivity_ou.url20.present?
              %tr
                %td=t('monitoring_objectivity_ous.url20')
                %td=link_to @monitoring_objectivity_ou.url20, @monitoring_objectivity_ou.url20, target: :_blank
            -if @monitoring_objectivity_ou.document20.present?
              %tr
                %td=t('monitoring_objectivity_ous.document20')
                %td= link_to @monitoring_objectivity_ou.document20.filename, @monitoring_objectivity_ou.document20, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=21
        %td
          =f.select :mark23, @ball23.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title21')
          %table
            -if @monitoring_objectivity_ou.url21.present?
              %tr
                %td=t('monitoring_objectivity_ous.url21')
                %td=link_to @monitoring_objectivity_ou.url21, @monitoring_objectivity_ou.url21, target: :_blank
            -if @monitoring_objectivity_ou.document21.present?
              %tr
                %td=t('monitoring_objectivity_ous.document21')
                %td= link_to @monitoring_objectivity_ou.document21.filename, @monitoring_objectivity_ou.document21, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr

      %tr
        %td=22
        %td
          =f.select :mark24, @ball24.collect {|p| [ p['name'], p['id'] ] }, placeholder: t('monitoring_objectivity_ous.choose_ball')
        %td
          %b
            =t('monitoring_objectivity_ous.title22')
          %table
            -if @monitoring_objectivity_ou.url22.present?
              %tr
                %td=t('monitoring_objectivity_ous.url22')
                %td=link_to @monitoring_objectivity_ou.url22, @monitoring_objectivity_ou.url22, target: :_blank
            -if @monitoring_objectivity_ou.document22.present?
              %tr
                %td=t('monitoring_objectivity_ous.document22')
                %td= link_to @monitoring_objectivity_ou.document22.filename, @monitoring_objectivity_ou.document22, target: :_blank
      %tr
        %td{:colspan=>3}
          %hr



      %tr
        %td{:colspan=>3}
          %h5=t("objectivity_ate_marks.notes")
          .field{"data-controller" => "rich-text-table"}
            =f.rich_text_area :notes

      -#%tr
      -#  %td{:colspan=>3}
      -#    =f.text_area :notes, :cols => 120, :rows => 4

      %tr
        %td{:colspan=>3}
          %hr


      %tr
        %td{:colspan=>3}
          .form-actions
            = f.submit @objectivity_ou_mark.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}