%h2= t('devise.registrations.edit.title', resource: resource.model_name.human)
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div= t('devise.registrations.edit.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)
  .field
    = f.label :password
    %i
      (#{t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it')})
    %br/
    = f.password_field :password, autocomplete: t("devise.passwords.edit.new_password")
    - if @minimum_password_length
      %br/
      %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: t("devise.passwords.edit.new_password")
  .field
    = f.label :current_password
    %i
      (#{t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes')})
    %br/
    = f.password_field :current_password, autocomplete: t("activerecord.attributes.user.current_password")
  .actions
    = f.submit t('helpers.submit.update')
%h3= t('devise.registrations.edit.cancel_my_account')
%p
  = t('devise.registrations.edit.unhappy')
  = button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.are_you_sure') }, method: :delete
= link_to t('devise.shared.links.back'), :back
